    <div class="box-content">
    
        <div class="box grid_6 alpha purchase_height" id="dashboard_left"> 

            <%= render 'purchases' %>
                            
        </div> 
     
        <div class="box grid_6 omega purchase_height" id="dashboard_right"> 
    
            <%= render 'consumer' %>                         
     
        </div> 
    
    </div>