       <div class="box">
          <div class="box-header">
            <h1>Modal windows are awesome</h1>
          </div>
          
          <div class="box-content">
            <p>Modal windows are awesome because they allow you to create a truly seamless experience when using your app. Especially when combined with PJAX, your application will perform almost like a native app.</p>
            
            <a href="#modal1" class="modal button">Launch modal nr 1.</a>
            <a href="#modal2" class="modal button">Modal with tabs</a>
          </div>
        </div>
        
        <div id="modal1" class="box">
          <div class="box-header">
            <h1>Modal number 1</h1>
          </div>
          
          <div class="box-content">
            <p>You can just use the usual syntax to create modal boxes.</p>
            <p>Just don't forget to add a close button so that the window can be closed.</p>
            <br />
            <code class="html"><a href="modal1" class="modal button">Launch modal nr 1.</a>
        ...
        <div id="modal1" class="box">
          ...
          <div class="action_bar">
            <a href="#" class="close button blue">Close window</a>
          </div>
        </div></code>
            
            <div class="action_bar">
              <a href="#" class="close button blue">Close window</a>
            </div>
          </div>
        </div>
        
        <div id="modal2" class="box">
          <div class="box-header">
            <h1>Modal with tabs</h1>
            
            <ul>
              <li class="active"><a href="#tab1">Tab</a></li>
              <li><a href="#tab2">Another tab</a></li>
              <li><a href="#tab3">Nice form</a></li>      
            </ul>
          </div>
          
          <div class="box-content">
            <div class="tab-content" id="tab1">
              <p>As I said, you can do pretty much anything in the modal space. Even tabbed boxes. :-)</p>
            </div>
            
            <div class="tab-content" id="tab2">
              <p>I often use tabs for forms. Check it out at the third tab.</p>
            </div>
            
            <div class="tab-content" id="tab3">
              <form>
                <div class="column-left">
                  <p>
                    <input type="text" id="textfield" name="textfield" placeholder="This is a textfield" />
                  </p>
                  
                  <p>
                    <textarea type="text" id="textarea" name="textarea" placeholder="This is a textfield"></textarea>
                  </p>
                </div>
                
                <div class="column-right">
                  <p>
                    <input type="text" id="textfield" name="textfield" placeholder="This is another textfield" />
                    <small>This could be small explanation of some sort.</small>
                  </p>
                </div>
                
                <div class="clear"></div>
              </form>
            </div>
            
            <div class="action_bar">
              <a href="#" class="close button blue">Close window</a>
            </div>
          </div>
        </div>


