<nav>
    <div class="container_12">
        <div class="grid_12">
            <ul class="toolbar clearfix fl">
                <li>
                    <a href="#" title="Activity" class="icon-only" id="activity-button">
                        <img src="/images/navicons-small/77.png" alt=""/>
                        <span class="message-count">1</span>
                    </a>
                </li>
                <li>
                    <a href="#" title="Notifications" class="icon-only" id="notifications-button">
                        <img src="/images/navicons-small/08.png" alt=""/>
                        <span class="message-count">3</span>
                     </a>
                </li>
                <li>
                    <a href="#" title="Settings" class="icon-only" id="settings-button">
                        <img src="/images/navicons-small/19.png" alt=""/>
                    </a>
                </li>
            </ul>
            <a href="login" title="Logout" class="button icon-with-text fr"><img src="/images/navicons-small/129.png" alt=""/>Logout</a>
            <div class="user-info fr">
                Logged in as <a href="#">Administrator</a>
            </div>
       </div>
    </div>
</nav>