    <div id="loading"> 

        <script type = "text/javascript"> 
            document.write("<div id='loading-container'><p id='loading-content'>" +
                           "<img id='loading-graphic' width='16' height='16' src='/images/ajax-loader-abc4ff.gif' /> " +
                           "Loading...</p></div>");
        </script> 

    </div>  

    <div id="wrapper">
        <header>
            <%= render 'pagehead' %>
        </header>
        
        <section>
            <!-- Sidebar -->

            <aside>
                <%= render 'sidebar' %>
            </aside>

            <!-- Sidebar End -->

            <section>
                <section id="main-content" class="clearfix">
                </section>
                <footer class="clearfix">
                    <div class="container_12">
                        <div class="grid_12">
                            Copyright &copy; 2012. 
                        </div>
                    </div>
                </footer>
            </section>

            <!-- Main Section End -->
        </section>
    </div>
    
    <!-- MAIN JAVASCRIPTS -->
    <script type="text/javascript" src="/javascripts/jquery-1.7.js"></script>
    <script>window.jQuery || document.write("<script src='/js/jquery.min.js'>\x3C/script>")</script>
    <script type="text/javascript" src="/js/jquery.tools.min.js"></script>
    <script type="text/javascript" src="/js/jquery.uniform.min.js"></script>
    <script type="text/javascript" src="/js/jquery.easing.js"></script>
    <script type="text/javascript" src="/js/jquery.ui.totop.js"></script>
    <script type="text/javascript" src="/js/jquery.itextsuggest.js"></script>
    <script type="text/javascript" src="/js/jquery.itextclear.js"></script>
    <script type="text/javascript" src="/js/jquery.hashchange.min.js"></script>
    <script type="text/javascript" src="/js/jquery.drilldownmenu.js"></script>
    <script type="text/javascript" src="/js/jquery.popover.js"></script>
    <script type="text/javascript" src="/javascripts/application.js"></script>
    <script type="text/javascript" src="/js/jquery.ui.widget.min.js"></script>   
    <script type="text/javascript" src="/js/jquery.notify.js"></script>   
 

    <!--[if lt IE 9]>
    <script type="text/javascript" src="/js/PIE.js"></script>
    <script type="text/javascript" src="/js/ie.js"></script>
    <![endif]-->

    <script type="text/javascript" src="/js/global.js"></script>
    <!-- MAIN JAVASCRIPTS END -->

    <!-- LOADING SCRIPT -->
    <script>
    $(window).load(function(){
        $("#loading").fadeOut(function(){
            $(this).remove();
            $('body').removeAttr('style');
        });
    });

    <!-- LOADING SCRIPT -->
    
    <!-- POPOVERS SETUP-->

/*          
             * setup search
           
            function googleSearch(q){
                $('#searchform .searchbox a').fadeOut()
                $.ajax({
                    url: 'php/google_search_results.php',
                    data: 'q='+encodeURIComponent(q),
                    cache: false,
                    success: function(response){
                        $('.search_results').html(response);
                    }
                });
            }

            // Set iTextSuggest
            $('#searchform .searchbox').length && $('#searchform .searchbox').find('input[type=text]').iTextClear().iTextSuggest({
                url: 'php/google_suggestions_results.php',
                onKeydown: function(query){
                    googleSearch(query);
                },
                onChange: function(query){
                    googleSearch(query);
                },
                onSelect: function(query){
                    googleSearch(query);
                },
                onSubmit: function(query){
                    googleSearch(query);
                },
                onEmpty: function(){
                    $('.search_results').html('');
                }
            }).focus(function(){
                $('#wrapper > section > aside > nav > ul').fadeOut(function(){
                    $('#searchform .search_results').show();
                });
                $(this).parents('#searchform .searchbox').animate({marginRight: 70}).next().fadeIn();
            });
            
            $('#searchform .searchcontainer').find('input[type=button]').click(function(){
                $('#searchform .search_results').hide();
                $('#searchform .searchbox').find('input[type=text]').val('');
                $('#searchform .search_results').html('');
                $('#wrapper > section > aside > nav > ul').fadeIn();
                $('.searchbox', $(this).parent()).animate({marginRight: 0}).next().fadeOut();
            });
        });
          */
    </script>
    <!-- POPOVERS SETUP END-->
