
<div class="login" style="overflow: hidden;">
    <div id="loading"> 

        <script type = "text/javascript"> 
            document.write("<div id='loading-container'><p id='loading-content'>" +
                           "<img id='loading-graphic' width='16' height='16' src='/images/ajax-loader-abc4ff.gif' /> " +
                           "Loading...</p></div>");
        </script> 

    </div> 

    <div class="login-box">
    	<section class="login-box-top">
            <header>
                <h2 class="logo ac"></h2>
            </header>
            <section>
                <%= form_for :user, :url => {:action => :login}, :html => {:id => "form", :class => "has-validation", :style => "margin-top: 30px"} do |f| %>
                     <div class="user-pass">
                        <%= f.text_field :email, :class => "full", :required => "required", :placeholder => "Username" %>
                        <%= f.password_field :password, :class => "full", :required => "required", :placeholder => "password" %>
                    </div>
                    <p class="clearfix">
                        <span class="fl" style="line-height: 23px;">
                            <label class="choice" for="remember">
                                <input type="checkbox" id="remember" class="" value="1" name="remember"/>
                                Keep me logged in
                            </label>
                        </span>

                        <button class="fr" type="submit">Login</button>
                    </p>
                <% end %>
            </section>
    	</section>
	</div>
    
    <!-- MAIN JAVASCRIPTS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.js"></script>
    <script>window.jQuery || document.write("<script src='/js/jquery.min.js'>\x3C/script>")</script>
    <script type="text/javascript" src="/js/jquery.tools.min.js"></script>
    <script type="text/javascript" src="/js/jquery.uniform.min.js"></script>
    <script type="text/javascript" src="/js/jquery.easing.js"></script>
    <script type="text/javascript" src="/js/jquery.ui.totop.js"></script>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="/js/PIE.js"></script>
    <script type="text/javascript" src="/js/ie.js"></script>
    <![endif]-->

    <script type="text/javascript" src="/js/global.js"></script>
    <!-- MAIN JAVASCRIPTS END -->

    <!-- LOADING SCRIPT -->
    <script>
    $(window).load(function(){
        $("#loading").fadeOut(function(){
            $(this).remove();
            $('body').removeAttr('style');
        });
    });
    </script>
    <!-- LOADING SCRIPT -->

</div>