<div>
	<div class="span4 marketial">
		<h1>Peace of mind</h1>
		<h2>No risky offers, improper products, bill shocks.</h2>
		<h2>Paykido watches what your kids buy 24 by 7.</h2>
		<h2>You decide when and how to pay.</h2>
	</div>

	<div class="span4 sign_in_image">
		<img id="sign_in_parents" src="/home/img/for_parents.jpg" />
	</div>
</div>
