<div id="confirmation_modal" class="box confirmation_modal">
    <div class="box-header modal-header">
        <span class="icon32 user fl"></span>
        <h1>User Confirmation</h1>
    </div>
  
    <div class="box-content">
        <div class="rule header">
			<%= "Yes, I am #{@consumer.name}'s parent" %>
        </div>
         <div class="rule actions">
            <p>By clicking 'I confirm' below, I confirm that I am <%= @consumer.name%>'s parent.</p>
        </div>
        <div class="action_bar">            
            <a id="consumer_confirm" href='#' class= "blue button">I confirm</a>
            <a href="#" class="close button">I don't</a>
        </div>
    </div>
    
</div>

<script type="text/javascript">

$(document).ready(function () {

	// find a better way to ajaxify calls from modal window
    $('#consumer_confirm').click(function() {     
    $.post(location.href);
    $('#modalcontainer > div').hide();
    $('#overlay').hide();

}) 

})
</script>
