<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h2>Hi <%= @user.name %>, <%= @consumer.name %> wants you to know Paykido!</h2> 
    <br\>
	<h3>Introducing the first parental control for shopping</h3>
	<br\>
    <p>Paykido lets you define and control what your kid can buy</p>
    <p>Paykido informs you of everything they buy before they do!</p>
    <p>It enables you to approve or deny anything your kids buy</p>
    <p>You can even define rules and let Paykido do the work for you!</p>
    <br\>
	<h3>Prepare to change anything you know about online safety</h3>
	<br\>
    <p>Unlike common alternatives, Paykido charges nothing off you in advance.</p>
    <p>Paykido charges only when purchase is made, and only after you approve!</p>
    <p>To register, you will provide your payment details to Safecharge</p>
    <p>Safecharge will keep them safe and secure</p>.
    <p>Noone and nobody will ever have access to your card details.</p> 
    <p>Not even Paykido! :)</p>
    <br\>
    <p>See what else can Paykido do for you:</p>
	<%= link_to "Discover Paykido",
		:host => "localhost:3000",
		:controller => "subscriber", 
		:action => "invite", 
		:name => @user.name,
		:authenticity_token => @user.hashed_password,
		:email => @user.email,
		:invited_by => @consumer.name
	%>	
  </body>
</html>