                                                       
   <a id="lin" href="">Link</a>                             
<a id="pic" title="arca title" href="/images/arca.png"><img src="/images/arca.png" alt=""/></a>
<a id="win" title="arca window" href="/farmville/help">pop-up window</a>
