<%= image_tag "/images/farmville1.png", :id => "farmville1" %>
<%= image_tag "/images/farmville2.png", :id => "farmville2" %>
<%= image_tag "/images/arca button in farmville.png", :id => "button" %>
<%= image_tag "/images/arca caption in farmville.png", :id => "caption" %>
<a href="/aaa/main" id="servicewindow">shalom</a>
