<div id="here"></div>
<% title "Authorization Rules" %>



<% form_for :rule, :url => { :action => :amounts_update } do |f| %>

  	<ul class="rounded">
    	<li>
    		<span class="item" >Authorized under</span>
				<span class="value">
						<%= f.text_field :edited_auto_authorize_under, 
						:placeholder => "this amount",  
						:class => "right_indented green" %>
				</span>
		</li>
	</ul>
  	<ul class="rounded">
    	<li>
    		<span class="item"></span>Never over</span>
			<span class="value">
				<%= f.text_field :edited_auto_deny_over, 
				:placeholder => "this amount",  
				:class => "right_indented red" %>
			</span>
		</li>
	</ul>
  	<ul class="rounded">
		<li>
			<span class="item">Otherwise call me at</span>
			<span class="value">
				<%= f.text_field (
				:edited_authorization_phone, 
				:maxlength =>15, 
				:placeholder => "this number",
				:class => "phone blue",
				:id => "phone") %>
			</span>
		</li>
	</ul>


  	<%= link_to "Submit", nil, :class => "whiteButton submit" %>

<% end %>





