<div id="here"></div>
<% title "Authorization Rules" %>

<% form_for :rule, :url => { :action => :amounts_update } do |f| %>

  	<ul class="rounded">
    	<li>
    		<span class="item">Authorize anything under</span>
			<span class="value"><class="greendollar"><%= f.text_field :auto_authorize_under, :placeholder => "this amount" %></class></span>
		</li>
	</ul>
  	<ul class="rounded">
    	<li>
    		<span class="item"></span>Don't approve anything over</span>
			<span class="value"><%= f.text_field :auto_deny_over, :placeholder => "that amount" %></span>
		</li>
	</ul>
  	<ul class="rounded">
		<li>
			<span class="item" style="width:100px">Otherwise call me at</span>
			<span class="value" style="width:100px"><%= f.text_field :authorization_phone, :maxlength =>10, :placeholder => "this number" %></span>
		</li>
	</ul>


  	<%= link_to "Submit", nil, :class => "whiteButton submit" %>
	<a href="rules_menu">back</a>

<% end %>





