<% title "Monthly Budget" %>

<% form_for :rule, :url => { :action => :budget_update } do |f| %>
  	<%= f.error_messages %>

  	<ul class="rounded">
     	<li>
    		<span class="item">Monthly Allowance</span>
			<span class="value"><%= f.text_field :allowance%></span>
		</li>
	</ul>
	
	<ul class="rounded">
		<li>
			<span class-"item">Rollover to next month</span>
		 	<span class="toggle"><%= f.check_box :rollover %></span>
		</li>
  	</ul>
	
  	<%= link_to "Submit", nil, :class => "whiteButton submit" %>

<% end %>
