<% title "My Content" %>


<ul class="rounded">
	<li class="arrow"><a href="retailers" >Retailers</a></li>
</ul>
<ul class="rounded">
    <li class="arrow"><a href="products" >Products</a></li>
</ul>
<ul class="rounded">
    <li class="arrow"><a href="categories" >Categories</a></li>
</ul>

