<% title "My Content" %>


<ul class="individual">
	<li class="arrow blacklist"><a href="" target="_webapp">Merchants</a></li>
	<li class="arrow whitelist"><a href="" target="_webapp">Merchants</a></li>
</ul>
<ul class="individual">
    <li class="arrow blacklist"><a href="blacklist" target="_webapp">Products</a></li>
	<li class="arrow whitelist"><a href="whitelist" target="_webapp">Products</a></li>
</ul>
<ul class="individual">
    <li class="arrow blacklist"><a href="" target="_webapp">Categories</a></li>
	<li class="arrow whitelist"><a href="" target="_webapp">Categories</a></li>
</ul>

