<div id="chart"></div>

<%= Seer::visualize(
    @categories, 
    :as => :pie_chart,
    :in_element => 'chart',
    :series => {
      :series_label => 'name',
      :data_method => 'quantitty'
    },
    :chart_options => { 
      :height => 250,
      :width => 200,
      :axis_font_size => 13,
      :title => "What am I buying?",
	  :title_font_size => 16,
      :point_size => 10,
      :is_3_d => true,
	  :colors => ['#666666','#4684ee', '#ff9900', '#dc3912'],
	  :background_color => '#e1e1ff',
	  :background_color => 'white',
	  :legend_font_size => 13
    }
   )
-%>

