<% title "Join In" %>

<% form_for :user, :url => { :action => :create }  do |f| %>
 
  <ul class="rounded">

    <li><%= f.text_field :name, :placeholder => "Select a user name"%></li>
    <li><%= f.password_field :password, :placeholder => "Select a password" %></li>
	<li><%= f.password_field :password_confirmation, :placeholder => "Confirm password" %></li>
  </ul>
  <%= link_to "Submit", nil, :class => "whiteButton submit" %>


<% end %>
