<% title "Make The Rules" %>

<h2>Monthly Budget</h2>
	<ul class="rounded">
    	<li class="arrow"><a href="budget_form">Set budget rules</a></li>
	</ul>		
			
<h2>Authorization Rules</h2>
	<ul class="rounded">
		<li class="arrow"><a href="#amounts">By amounts</a></li>
		<li class="arrow"><a href="#categories">By categories</a></li>
	</ul>			

<h2>Alerts & Reports</h2>
	<ul class="rounded">
		<li class="arrow"><a href="#alerts">Online alerts</a></li>
		<li class="arrow"><a href="#reports">Purchase reports</a></li>
	</ul>			

