<% title @title %>

<% for consumer in @consumers %>

<ul class="rounded">
	<li class="arrow">
		<%= link_to number_to_phone(consumer.billing_phone, :area_code => true), "/aol/#{@action}/#{consumer.id}", :target => "_webapp" %>
	</li>
</ul>

<% end %>

