<% title @title %>

<% for consumer in @consumers %>

<ul class="rounded">
	<li class="arrow">
		<%= link_to consumer.name, "/aol/#{@action}/#{consumer.id}", :target => "_webapp" %>
	</li>
</ul>

<% end %>

