<% title "Sign In" %>

<% form_for :payer, :url => { :action => :signin } do |form| %>
	<ul class="rounded">
		<li><%= form.text_field :user, :placeholder => "user"%></li>
		<li><%= form.password_field :password, :placeholder => "password" %></li>
	</ul>
    <%= link_to "Submit", nil, :class => "whiteButton submit" %>
<% end %>
