<% title "Hi #{session[:payer_user]}" %>

<ul class="rounded">
	<li class="arrow"><a href="account_form">Manage your account</a></li>
    <li class="forward"><a href="rules_menu">Make the rules</a></li>
    <li class="forward"><a href="#authorize">Get Involved</a></li>
    <li class="forward"><a href="beinformed" target="_webapp">Be informed</a></li>
</ul>

 