<% title "Welcome, #{session[:payer_user]}" %>

<ul class="rounded">
    <li class="arrow"><a href="beinformed" target="_webapp">My Purchases</a></li>
	<li class="arrow"><a href="budget_form">My Budget</a></li>
    <li class="arrow"><a href="rules_menu" target="_webapp">My Authorization Policy</a></li>
    <li class="arrow"><a href="empty">My Bills</a></li>
	<li class="arrow"><a href="account_form">My account</a></li>
</ul>

 