<% title "Welcome" %>
 
<ul class="rounded">
	<li class="arrow"><a href="#home">What is arca?</a></li>
    <li class="arrow"><a href="#protect">How does it protect my purchases?</a></li>
    <li class="forward"><a href="#save">How does it save me money?</a></li>
</ul>

<ul class="individual">
	<li><%= link_to "Join In", :action => :joinin, :class => "whiteButton submit" %></li>
    <li><%= link_to "Sign In", :action => :signin, :class => "whiteButton submit" %></li>
</ul>
