<% title "Welcome, #{session[:payer_user]}" %>

<ul class="rounded">
    <li class="arrow"><a href="beinformed" target="_webapp">What Happens In My Account</a></li>
	<li class="arrow"><a href="budget_form">My Monthly Budget</a></li>
    <li class="arrow"><a href="rules_menu" target="_webapp">My Authorization Policy</a></li>
    <li class="arrow"><a href="empty">How do I want to be billed</a></li>
	<li class="arrow"><a href="account_form">Setting my account</a></li>
</ul>

 