<% title "Welcome" %>
 
<%= image_tag('arca_mkg.png') %>

<ul class="individual">
	<li><%= link_to "Join In", :action => :joinin, :class => "whiteButton submit" %></li>
    <li><%= link_to "Sign In", :action => :signin, :class => "whiteButton submit" %></li>
</ul>
