<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<meta charset="utf8"/>
		<link rel="stylesheet" type="text/css" media="screen" href="http://www.paykido.com/stylesheets/paykido-api.css"/>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
		<script type="text/javascript" src="http://www.paykido.com/javascripts/paykido-api.js"></script>
	</head>
<body>

		<a data-target="#paykido" data-toggle="modal" href="https://www.paykido.com/consumer/login?product=Gold%20Membership&amount=6.99&currency=EUR&userid=131827&mode=T&hash=df659d502af5151a2edd18e2ebb50ba3&referrer= https://secure.gate2shop.com/ppp/purchase.do&PP_TransactionID=US-131827-20101019232716”>
			<img src="http://www.paykido.com/images/paykido_button.png" id="paykido" alt="paykido"/>
		</a>
		
		<div id="paykido" class="modal hide"></div>

</body>
</html>