body {
	color:white;
}

#payment_window {
	background-color:#6b727a;
	padding-top:30px;
	height:330px;
	width:400px;
}

#input {
}


#step {
	float:left;
	margin-left:30px;

}

#input_field {
	float:left;
	margin-left:15px;
}

#product_selected {
	float:left;
	margin-left:40px;
	font-size:10pt;
}


#step_input {


}

#submit_button {
	width:30px;
	margin-left:50px;
}

#step_title {
	float:left;
	height:20px;
	padding-top:20px;
	padding-left:15px;
	font:"Arial Rounded MT Bold";
	font-size:11pt;
	font-weight:600;
}


#message {

	height:90px;
}

#marketing {
	float:left;
	height:50px
	width:200px;
	margin-left:10px;
	margin-top:40px;
	margin-bottom:20px;
}

#new {
	color:red;
	font-weight:bold;
	font-size:12pt;
	font-style:italic;
}

#marketing_line {
	font-weight:bold;
	font-size:11pt;	
}

#link_to_service {
	color:red;
	text-decoration:underline;
}

a {
/*	color:blue;*/
/*	text-decoration:underline;*/
}

#save_colors {
	background-color:#faf9c9;
	background-color:#ecf1ff;
	background-color:#fefac7;
	background-color:#eefeb8;
	background-color:#fef9bc;
	background-color:#dddfff;
	background-color:#e8e8ff;
}

#notice {
	border: 2px solid red;
	padding: 1em;
	margin-bottom: 2em;
	background-color: #f0f0f0 ;
	font: bold smaller sans-serif;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

.fieldWithErrors {
padding: 2px;
background-color: red;
display: table;
}
