/*
li {
	background-image:url('/images/li_bg.png')
}
*/

#rule_authorization_channel {
	display:inline;
	width:65px;
	background:none;
	margin-left:10px;

}

ul li span #phone {
	width: 170px;
	margin-bottom:-5px;
	display:inline;

}
#budget:before {
	content:"$";
	border: 2px solid red;
}
.bordered {
	border:1px solid green;
	z-index:102;
	
}

li.bordered {
	margin:0;
	padding:0;
	height:115px;
}

#chartdiv {
	width:285px;
	height:90px;
	margin-left:10px;
}



#balance {
	color:#51b30d;

}

.toggle  {
	display:inline;
	float: right;
	margin-top:-3px;
}


.blacklist a {
	color: #cc4200;
	color:#dc3912;	
}

.whitelist a {
	color:#51b30d;	
	color:#537c4c;
}

h1 {
	color:white;
	font-family:"Bookman Old Style";
	font-family:"Bradley Hand ITC";
	font-family:"Eras Medium ITC";

	    text-shadow: rgba(0,0,0,.2) 0 1.5px 1px;

}

.complete li {
	color: #51b30d;       
   
}
.complete .price {
	color: #51b30d;       
   
}

.complete .retailer_name{
	color: #51b30d;   

   
}
#iconized_menu li.arrow  {
	height:39px;
	padding-top:0px;
	font-size:18px;


}
#iconized_menu a {
		color:#666666;
}

#iconized_menu1 a {
		color:#666666;
}
#iconized_menu1 li.arrow  {
	height:37px;
	padding-top:0px;;
	font-size:18px;

}

.item_by_icon {
	display:inline;
	width:200px;
	position:absolute;
	left:90px;
	margin-top:5px;



}

.icon {



}

ul li small.counter {
	margin-top:14px;
	margin-right:50px;
	background-color: #51b30d;
	display:inline;
	right:50px;
}

.title > h1 {
	font-size:6px;
}

.iphone_strip {


}

.toolbar {

	margin:-5px;

}
#purchase_header li {
	height:20px;
	font-size:14px;
	padding:5px;
}


.thin_lines .item {
	padding:5px;	
}

.thin_lines li {
	padding:5px;	
}
#purchase_header .value {
	width: 110px;
}

#purchase_header .red_value {
	width: 110px;
}

#purchase_header .blue_value {
	width: 110px;
}

#table td {
	padding:2px;
	margin:0;
	height:30px;
}


.purchasesCell {
	font-size:13px;
	height:30px;
	width:5px;
	color: #666666;
}

.purchasesOddRow {
	background-color:#D0E7F5;
	background-color:#EEFEB8;
	background-color:#FFFFDD;
	background-color:#EEEEEE;
	background-color:#f4f0ff;
	background-image:url("/images/purchases_gradient1.png");
	#f4f0ff;	
}

#pending {
	color:#cc4200;
	position:absolute;
	top:120px;
	right:43px;

}


#info {
	position:absolute;
	height:250px;
	width:320px;

}


#info li {
	height:17px;
}
/*
.whiteButton  {
	width: 300px;
	height:50px;
	margin:10px;
	margin-top:30px;
	padding:0;
}
*/

#balance_line,  #authorization_line  {
	margin:1px;
	margin-right:5px;
	padding:0;
	margin-top:7px;

}

#balance_line {
	margin-top:7px;
}

#Pie_chart {
	margin-left:3px;
}

#Pie_chart h4 {
	margin-bottom:2px;
	margin-top:25px;
}

#top_products {
	position: absolute;
	right:3px;
	top:0;
	height:105px;
	overflow:hidden;
	margin-top:0px;
}

#top_retailers {
	position: absolute;
	right:3px;
	top: 110px;
	height:105px;
	overflow:hidden;

}

li {
	font-size:1em;
}

/*
ul li.greenarrow{
	background:none;
	background-repeat:no-repeat;
	float: right;
	background-image: url(/themes/jqt/img/chevron_circle.png);
}

*/

.item, .short_item {
	display:inline;
	width:200px;

}

.short_item {
	width:50px;
	font-size:11pt;
	width:50px;
}

.medium_item {
	width:90px;
	font-size:11pt;
	width:50px;
}
.value, .blue_value, .green_value, .red_value, .short_value, .short_value_long_width, .red_value_long_width, .long_value, .blue_value_long_width {
	display:inline;
	text-align:right;
	float: right;
	width:80px;
	margin-right:0px;

}

.short_value {
	font-size:11pt;
	width:50px;
}

.short_value_long_width, .red_value_long_width, .blue_value_long_width {
	font-size:11pt;
	width:110px;
}

.long_value {
	font_size:9pt;
	width:160px;
}

.retailer_name {
	color:#1B7BDD;
		display:inline;
  		
}

.blue_value {
	color:#1B7BDD;	
}

.blue_value_long_width {
	color:#1B7BDD;
}

ul#authorization_form  {
	margin-top:5px;
	margin-bottom:0px;

}

#purchase_authorization_type {
	font-size:12pt;
	font-weight:bold;
	background-image: url();
	margin:0;
	padding:0;

}

.price {
	color: #cc4200;
	float:right;	
}

.red_value_long_width {
	color: #cc4200;
}


ul li span .right_indented {
	text-align:right;


	margin:0;
	padding:0;
	
}

.flushed_right {
	position:absolute;
	right:0;

}

.green_value {
	color:#51b30d;
	color:#537c4c;

}

ul li span .green {
	color: #537c4c;
	font-weight:bold;
}

ul li span .red {
	color:#cc4200;	
	font-weight:bold;
}

ul li span .blue {
	color:#1B7BDD;
	font-weight:bold;	
}


.red_value {
	color:#cc4200;
/*
		border:1px solid red;

*/
}

.rounded a {

		display:inline;

}

.rounded a:active {
	background-color:transparent;
}

#lists  {

	margin:0;
	padding:0;
	width:380px;
	height:30px;
	overflow:hidden;
}

#lists ul li {
/*
	margin:3px;
*/
	margin-right:1px;
	padding:5px;
}

#lists li {
	font-size:0.9emt;
	width: 140px;
}

#lists li:hover {
	background-color:#008000;
	color:white;
}

#lists a {
	color:#666666;
}

#lists ul {
	height:175px;
	margin:0;

#top_products ul {
	margin:5px 0 0 5px;
	height:70px;

}

#top_retailers ul {
	margin:20px 0 2px 2px;
	height:70px;
}


#Pie_chart {
	float:left;

}

#logo {
	margin-bottom:2px;

}

marketing {
	margin-top:50px;
}
