.top {
	width: 100%;
}

body {
	height: 1000px;
}

#payer_phone_events, #payer_phone_alert_frequency, #payer_edited_phone {
	display: inline;
	width: 190px;
}

#payer_phone_events:hover, #payer_phone_alert_frequency:hover, #payer_edited_phone:hover, #payer_email_events:hover, #payer_email_alert_frequency:hover, #payer_email:hover {
	color: blue;
}

#purchase_top_line {
	font-weight: 100;
}

#purchase_consumer_name {
	margin-left: 35px;
}

.incomplete, .complete {
	font-size: 16px;
}

#new_pendings_alert {

}

#new_pendings_alert img {
	position:absolute;
	top:175px;
	right:10px;
}

.tooltip {
	display:none;
	background:transparent url(/images/black_arrow.png);
	font-size:12px;
	height:70px;
	width:160px;
	padding:25px;
	color:#fff;	
}
/* the overlayed element */
.simple_overlay {
	
	/* must be initially hidden */
	display:none;
	
	/* place overlay on top of other elements */
	z-index:10000;
	
	/* styling */
	background-color:#333;
	
	width:675px;	
	min-height:200px;
	border:1px solid #666;
	
	/* CSS3 styling for latest browsers */
	-moz-box-shadow:0 0 90px 5px #000;
	-webkit-box-shadow: 0 0 90px #000;	
}

/* close button positioned on upper right corner */
.simple_overlay .close {
	background-image:url(../img/overlay/close.png);
	position:absolute;
	right:-15px;
	top:-15px;
	cursor:pointer;
	height:35px;
	width:35px;
}

/* styling for elements inside overlay */
	.details {
		position:absolute;
		top:15px;
		right:15px;
		font-size:11px;
		color:#fff;
		width:150px;
	}
	
	.details h3 {
		color:#aba;
		font-size:15px;
		margin:0 0 -10px 0;
	}



/*
li {
	-image:url('/images/li_bg.png')
}
*/

#flash_notice {
	font-size:14px;
}

li.noarrow span select {
		background-image:url("");
			background-color:white;
}

#alert_me {
	margin-bottom:5px;
	padding-top:15px;
	font-size:18px;
	font-weight:bold;
}

.bottom_link_to {
	position:absolute;
	bottom:5px;
	left:1px;
	width:255px;
	height:10px;
}

.engrave {
		border:2px solid white;
	border-right-color:#EFEFEF;
	border-bottom-color:#EFEFEF;
	border-style:inset;

}
.long {
	width:250px;
}

.question_mark {
	position:absolute;
	left:280px;
	top:240px;

/*
#header_on_banner {
	position:absolute;
	left:12px;
	font-size:14px;
}
*/

.small_font {
	font-size:16px;
}

	height:10px;
}

ul.individual li.thin {
	padding:0;
	margin:0;
	text-align:left
}

.title_banner {
	background-image:url('/images/heading_bg1.png');
	color:white;
	text-shadow: rgba(0,0,0,.2) 0 5px 3px;
	font-weight:100;
	height:22px;
	margin-bottom:-10px;
	margin-left:5px;
	padding-left:10px;
	font-size:16px;
}

.banner_question_mark {
	height:25px;
	padding-top:10px;
	margin-top:-10px;
	margin-bottom:-10px;
	background-image:url('/images/heading_bg_with_question_mark.png');
	background-repeat:no-repeat;
	color:white;
	text-align:center;
	text-shadow: rgba(0,0,0,.2) 3px 3px 3px;
	font-weight:100;
}

.question_mark {
	position:absolute;
	top:257px;
}

.thresholds {
	background-color:#ececf5;
	height:35px;
}

.header {
	color:brown;
	font-family:"Eras Demi ITC";
	font-size:13px;
	text-shadow: rgba(0,0,0,.2) 0 2px 2px;
	margin-left:12px;
	font-weight:100;

}

.left {
	float:left;
}

.right {
	float:right;
}

img.smsEmail {
	height:40px;
	padding:0;
}


/*
#phone, #email {
	width:220px;
	font-size:16px;
	margin:0;
	margin-top:-3px;
	padding-bottom:10px;
	background-color:#ececf5;
	background-color:#F6F6F6;
	background-color:white;

}

*/

.contact {
	padding:6px;
	margin-top: 15px;

}

#skype, #aim {
	margin-bottom:-4px;
}

#demo-frame > div.demo { 
	padding: 10px !important; 
}

.blue_bg {
	background-image: url("/images/light_blue_gradient1.png");
}

.authorization_explained {
	position:absolute;
	bottom:50px;
	left:5px;
	width:300px;
	height:130px;
	background-color:#FFFFDD;
	border: 3px solid #666666;
	padding-left:5px;
	font-size:12pt;
}

#arca_auth_help {
	position:absolute;
	left:270px;
	bottom:90px;
	font-size:20px;
}
.authorized_by_arca {
	margin-top:-5px;
	margin-left:-2px;
}
.black {
	color:black;
	font-weight:500;
}

.bottom_submit_tag {
	position:absolute;
	TOP:380px;
	left:1px;
right: 1px;
	height:35px;
}

ul.dark_bg  {
	margin-top:25px;
}

.dark_bg li {
	background-image:url("/images/dark_bg.png");
	height:31px;

}

#purchase_authorization_type {
	background-image:url("");
	color:white;
	text-shadow: rgba(0,0,0,.2) 0 2px 2px;

		font-size:18px;
	padding:5px;

	text-indent:0;
	margin-left:10px;


}

.light_bg li {
	background-color:#444444;
	background-image:url("/images/purchases_gradient1.png");
	color: #666666;
/*
	text-shadow: rgba(0,0,0,.2) 0 1.5px 1px;
*/
	font-size:1.1em;
	height:25px;
	padding:10px;

}

ul.light_bg {
	margin-bottom:0;	
}
.red {
	color: #cc4200;
	color:#B22222;
}

.small {
	font-size:0.85em;
}

.big {
	font-size:1.2em;
}
.date.value {
	width:120px;
}

ul li a, li.img a + a  {
	color: #666666;
}


.middle {

	display:inline;
	position: absolute;
	left: 100px;
	margin-top:5px;

	
}


.right_float {
	float: right;
}

#purchase_list_request span {
	display:inline;
	float:left;
	margin:5px;
}
#GChart_Frame_0 {

}
.framed {

}
#beinformed_heading {

}
#categoryChart {

	margin-left:5px;
}

#purchases_by_category {

}

.transparent {
	color:transparent;
}

#manual_involvement_help {
	z-index:102;
}
#rule_authorization_channel {
	display:inline;
	width:70px;
	background:none;
	margin-left:10px;

}


}
#budget:before {
	content:"$";
	border: 2px solid red;
}

#budget {
	font-weight:bold;
}
.bordered {
	border:1px solid green;
	z-index:102;
	
}

li.bordered {
	margin:0;
	padding:0;
	height:115px;
}

#chartdiv {
	position: absolute;
	left: 50%;
	margin-left: -150px;
	margin-top:20px;
	margin-bottom:0;
	width:300px;
	height:110px;

}

#chart_placeholder {
	width:370px;
	height:140px;
	
}




#balance {
	color:#51b30d;
	font-weight:bold;

}



.blacklist a {
	color: #cc4200;
	color:#dc3912;	
}

.whitelist a {
	color:#51b30d;	
	color:#537c4c;
}

h1 {
	color:white;
	font-family:"Bookman Old Style";
	font-family:"Bradley Hand ITC";
	font-family:"Eras Medium ITC";

	    text-shadow: rgba(0,0,0,.2) 0 1.5px 1px;

}

.complete li {
	color: #51b30d;       
   
}
.complete .price {
	color: #51b30d;       
   
}

.complete .retailer_name{
	color: #51b30d;   

   
}
#iconized_menu li.arrow  {
	height:39px;
	padding-top:0px;
	font-size:18px;


}
#iconized_menu a {
		color:#666666;
}

#iconized_menu1 a {
		color:#666666;
}
#iconized_menu1 li.arrow  {
	height:37px;
	padding-top:0px;;
	font-size:18px;

}

.item_by_icon {
	display:inline;
	width:200px;
	position:absolute;
	left:90px;
	margin-top:5px;



}

.like  {
	width:72px;
	padding: 0;




}

#retailer_like {
	
}
.logo {

	position:absolute;
	left:97px;
	width:100px;
	height:29px;
	margin-bottom:0px;
	margin-left:10px;

}

ul li small.counter {
	margin-top:14px;
	margin-right:50px;
	background-color: #51b30d;
	display:inline;
	right:50px;
}

.title > h1 {
	font-size:6px;
}

.iphone_strip {

	height: 55px;
}

.toolbar {

	margin:-5px;

}
#purchase_header li {
	height:20px;
	font-size:14px;
	padding:5px;
}


.thin_lines .item {
	padding:0px;	
}

.thin_lines li {
	padding:5px;
	height:30px;

}
.super_thin_lines li {
	padding:1px;	
}

.very_thin_lines li {
	padding:5px;

}


#purchase_header .value {
	width: 110px;
}

#purchase_header .red_value {
	width: 110px;
}

#purchase_header .blue_value {
	width: 110px;
}

#table td {
	padding:2px;
	margin:0;
	height:30px;
}


.purchasesCell {
	font-size:13px;
	height:30px;
	width:5px;
	color: #666666;
}

.purchasesOddRow {
	background-color:#D0E7F5;
	background-color:#EEFEB8;
	background-color:#FFFFDD;
	background-color:#EEEEEE;
	background-color:#f4f0ff;
	background-image:url("/images/purchases_gradient1.png");
	#f4f0ff;	
}

#pending {
	color:#cc4200;
	position:absolute;
	top:120px;
	right:43px;

}


#info {
	position:absolute;
	height:250px;
	width:320px;

}


#info li {
	height:20px;
}
/*
.whiteButton  {
	width: 300px;
	height:50px;
	margin:10px;
	margin-top:30px;
	padding:0;
}
*/

.wide  {
	margin-left:2px;
	margin-right:5px;
	margin-top:5px;
	margin-bottom:5px;
	position:absolute;
	top:365px;
	width:315px;

}

#balance_line {
	margin-top:7px;
}

#Pie_chart {
	margin-left:3px;
}

#Pie_chart h4 {
	margin-bottom:2px;
	margin-top:25px;
}

#top_products {
	position: absolute;
	left:182px;
	top:0;
	height:127px;
	overflow:hidden;
	margin-top:0px;
	width:132px;


}

#top_retailers {
	position: absolute;
	left:182px;
	top: 136px;
	height:127px;
	overflow:hidden;
	width:132px;

}

li {
	font-size:1em;
}

/*
ul li.greenarrow{
	background:none;
	background-repeat:no-repeat;
	float: right;
	background-image: url(/themes/jqt/img/chevron_circle.png);
}

*/

.item, .short_item {
	display:inline;
	width:200px;

}

.short_item {
	width:40px;
	font-size:11pt;
	width:50px;
	padding:0;
	padding-left:7px;

}

.medium_item {
	width:90px;
	font-size:11pt;
	width:50px;
}
.value, .blue_value, .green_value, .red_value, .short_value, .short_value_long_width, .red_value_long_width, .long_value, .longer_value, .blue_value_long_width {
	display:inline;
	text-align:right;
	float: right;
	width:80px;
	margin-right:0px;

}

.value input[type="text"] {
	text-align:right;
}

.green_value input[type="text"] {
	text-align:right;
}

.red_value input[type="text"] {
	text-align:right;
}

.short_value {
	font-size:11pt;
	width:50px;
}

.short_value_long_width, .red_value_long_width, .blue_value_long_width {
	font-size:11pt;
	width:110px;
}

.long_value {
	font_size:9pt;
	width:160px;
}

.longer_value {
	font_size:9pt;
	width:175px;
}

.retailer_name {
	color:#1B7BDD;
		display:inline;
  		
}

.blue_value {
	color:#1B7BDD;	
}

.blue_value_long_width {
	color:#1B7BDD;
}

ul#authorization_form  {
	margin-top:5px;
	margin-bottom:0px;

}

.price {
	color: #cc4200;
	float:right;	
}

.red_value_long_width {
	color: #cc4200;
	color:#B22222;
}


ul li span .right_indented {
	text-align:right;


	margin:0;
	padding:0;
	
}

.flushed_right {
	position:absolute;
	right:0;

}

.green_value {
	color:#51b30d;
	color:#537c4c;

}

ul li span .green {
	color: #537c4c;
	font-weight:bold;
}

ul li span .red {
	color:#cc4200;	
	color:#B22222;

}

ul li span .blue {
	color:#1B7BDD;
	font-weight:bold;	
}


.red_value {
	color:#cc4200;
	color:#B22222;
/*
		border:1px solid red;

*/
}

.rounded a {

		display:inline;

}

.rounded a:active {
	background-color:transparent;
}

#lists  {

	margin:0;
	padding:0;
	width:380px;
	height:30px;
	overflow:hidden;
}

#lists ul li {
/*
	margin:3px;
*/
	margin-right:1px;
	padding:5px;
}

#lists li {
	font-size:0.9emt;
	width: 125px;
	background-color:#fffbb0;
	background-color:#fffdcd;
	background-color:#f2faeb;
	background-color:white;
		background-color:#fffdcd;
		background-color:#f7ffd4;
		background-color:#eef0ff;

}

#top_retailers li {
	background-color:#fff7bc;

}

.white {
	color:white;
}

a.white {
	color:white;
}

#lists li:hover {
}

#top_products a:hover {
	color:#cc4200;
}

#top_retailers a:hover {
	color: #1B7BDD;
}

#lists a {
	color:#666666;
}

#lists ul {
	height:200px;
	margin:0;

#top_products ul {
	margin:5px -2px 0 5px;
	height:120px;

}

$top_products ul.rounded {
		background-color:#eef0ff;
}

#top_retailers ul {
	margin:20px 0 2px 2px;
	height:120px;
}


#Pie_chart {
	float:left;

}

#logo {
	margin-bottom:2px;

}

marketing {
	margin-top:50px;
}
