/* Paykido color: #0088CC */

body {   
/*    height: 600px; */
    background:url("/spina/img/bg.png");
    font-family:"Segoe UI", Helvetica, Arial;
    font-size:14px;
    line-height:21px;
}

.paykido {
}

.paykido_name {
    color: #FFF;
}
.paykido_parents {
    color: #0088CC;
}    

.span55 {
    width: 540px;
}

.box-content .rule_background h1.rule_heading  {
    display: inline;
    line-height: 45px;
    color: #0088CC;
    color: #999;
    font-weight: bold;
    font-size: 32px;
    margin-top: 12px;
    margin-left: 22px;
    text-shadow: 0 1px 0 #FFFFFF;
    text-transform: uppercase;
}

.rule_explanation {
    margin-top: -5px;
    margin-left: 24px;
    text-shadow: 0 1px 0 #FFFFFF;
    color: #333;
}

.rule_explanation b {
    color: #555;
}

.approved_by .label {
    font-size: 22px;
    font-weight: 100;
    padding: 9px;
    line-height: 30px;
    
}

#rating, #purchase_data {
    display: inline-block;
}

#purchase_data {
    width: 218px;
}

#rating {
    position: relative;
    bottom: -3px;
    left: 21px;
}

#rating_text {
    float: right;
    font-size: 11px;
    width: 100px;
    margin-left: 20px;
    margin-top: 15px;
    margin-right: -10px;
    width: 85px;
    color: #888;
}

.span3minus {
    width: 245px;
}

.sectiontitle {
    color: #888;
    font-weight: 100;
    text-shadow: 0 1px 0 #FFFFFF;
    font-size: 16px;
    margin-left: 10px;
    text-transform: uppercase; 
}

.rule_status i {
    margin-left: 5px;
}

#purchase_data #first_line {
    
}

#star_rating {
    float: right;
}

#purchase_data #second_line {
}

#approval_status i {
    margin-top: -14px;
    margin-bottom: -14px;    
}

#status_or_approval_buttons {
    position: relative;
    top: 10px;
}

#product_and_price {
    text-shadow: 0 1px 0 #FFFFFF;
    color: #888;
    margin-left: 5px;
}

#purchase_header_left {
    float: left;   
}

.retailer {
    display: inline;
}

.approved_by {
    font-weight: 100;
    line-height: 30px;
}

.progress.progress-info {
 }

.retailer_text {
    font-size: 28px;
    font-weight: 100;
    text-shadow: 0 1px 0 #FFFFFF;
}


.purchase_info {
/*    border: 1px solid red; */
    padding-bottom: 10px;
}

#purchase_header_right {
    float: right;
}

#purchase_header_right img {

    height: 91px;
    width: 80px;
    margin-top: 20px;
    width: 68px;
}

#purchase_header_middle {
}

#approval_rate {
    float: right;
    text-align: center;
}

#approval_rate #approved_by {
}

#approval_rate #rate {
    font-weight: bold;
    font-size: 48px;
}

#approval_rate #after_rate {
}

#approval_rate #tip {
}

#approval_buttons {
 }

.why {
    font-size: 12px;
    color: #888;
}

#approval_buttons .btn {
    width: 80px;
}

#approval_status {
   margin-left: -12px;
   position: relative;
   top: 5px;
}

.purchase_text {
    font-size: 12px;
    font-weight: 100;
    text-transform: uppercase;
    color: #000;
}

#approval_status span {
    line-height: 25px; 
    font-weight: 100;
    font-size: 12px;  
}

#why_register.hero-unit h1 {
    font-weight: 100;
    text-shadow: 0px 1px 0px #FFFFFF;
}

.span2minus {
    width: 160px;
}

.exagerated {
    font-family: 'Oswald', sans-serif;
    font-size: 66px;
    line-height: 80px;
    text-align: center;    
    letter-spacing: 2px;
    text-shadow: 0px 1px 0px #FFFFFF;
    text-shadow: 2px 1px 2px #888;
    text-transform: uppercase;
    color: #888;
    margin-left: -55px;
    margin-top: 40px;
}

#landing_text_part.landing.marketial.hero-unit.semi_transparent_bg {
   margin-left: -14px;
   height: 260px;
   width: 400px;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
    padding: 60px 40px 40px 40px;

/* Fallback for web browsers that doesn't support RGBa */
background: rgb(0, 0, 0) transparent;
/* RGBa with 0.3 opacity */
background: rgba(0, 0, 0, 0.15);
/* For IE 5.5 - 7*/
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
/* For IE 8*/
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

#landing_text_part h1 {
   font-weight: 100;
   text-shadow: 0px 1px 0px #FFFFFF;
   font-size: 45px;
   margin-bottom: 30px;

}

#landing_text_part h2 {
   font-weight: 100;
   font-size: 18px;
   line-height: 28px;
   color: #000;

}

#landing_text_part p {
    margin-top: 56px;
}
.box.grid_6.home_image {
    width: 47%;
}

.home_image {
    margin-left: 7px;
}

img#parents {
    height: 360px;
    width: 473px;
    float: right;
    margin-right: 0;
}
.spanicon {
    width: 16px;
}

#rule_form {
    margin-top: 10px;
}

.ys_kid {
    position: absolute;
    bottom:  80px;
    left: 137px;  
}

.alert.alert-block a {
    
}

.gauges {
    float: right; 
    margin-top: 15px;  
}

.grants {
}

#grants_gauge, #balance_gauge {
    width: 225px;
}

#grant_and_caption, #balance_and_caption {
    width: 225px;
}

#grant_and_caption {
    float: left;
}

#balance_and_caption {
    float: right;
}

#balance_gauge {
    
}

#balance {
    margin: 20px;
    padding: 30px 7px 30px 30px;
    
}

.hero-unit p.caption {
    text-align: center;
    font-size: 14px; 
    font-weight: bold; 
    margin-top: -5px;  
}
#why_register.hero-unit {
    margin-bottom: 5px;
}

.registration_marketial h3{
    font-weight: 100;
    font-size: 24px;
    line-height: 5px;
    color:  #0088CC;
}

.registration_marketial .span4 {
    margin-left: 30px;
}

.hero-unit p { 
    margin-top: 5px;
}

.span1plus {
    width: 103px;
}

.span1plus i {
    margin-top: 4px;
    margin-left: 5px;
}

.alert.alert-block span {
    position: relative;
    top: 5px;
}

#rules.container_12 .grid_12 {
    width: 100.5%
}

.dl-horizontal dt, .dl-horizontal dd {
    margin-bottom: 10px;
}

#balance_info {
    float: left;
    margin: 20px -10px 20px 20px;
    max-width: 390px;
}


tr.purchase_line:hover {
    background-color: transparent;
}

.navbar .brand {
    color: #0088CC;
    font-size: 24px;
    font-weight: 100;
    margin-left: -9px;
    text-shadow: none;   
}

.dark.navbar {

  color: #999999;
  *position: relative;
  *z-index: 2;
  margin-bottom: 10px;
  overflow: visible;
}
   

.dark.navbar-inner {
  background-color: #2c2c2c;
  background-image: -moz-linear-gradient(top, #333333, #222222);
  background-image: -ms-linear-gradient(top, #333333, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222));
  background-image: -webkit-linear-gradient(top, #333333, #222222);
  background-image: -o-linear-gradient(top, #333333, #222222);
  background-image: linear-gradient(top, #333333, #222222);
  background-repeat: repeat-x;
/*  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px; Dror */
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

#dashboard_left .navbar .nav {
    left: -25px;
}

#dashboard_left .navbar {
    margin-top: 25px;
}

#dashboard_left div.navbar-inner {
    margin-top: 5px;
    border: none;
}

#purchases_wrapper  {
    top: -20px;
}

#purchases tr.active  {
  background-color: #497eac;
  background-color: #F5F5F5;
  background-color: #FFF;
  border-bottom: 1px solid #F3F3F3;
  border-top: 1px solid #F3F3F3;

/*
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(107, 160, 206)), to(rgb(73, 126, 172)));
  background-image: -webkit-linear-gradient(top, rgb(107, 160, 206), rgb(73, 126, 172));
  background-image: -moz-linear-gradient(top, rgb(107, 160, 206), rgb(73, 126, 172));
  background-image: -o-linear-gradient(top, rgb(107, 160, 206), rgb(73, 126, 172));
  background-image: -ms-linear-gradient(top, rgb(107, 160, 206), rgb(73, 126, 172));
  background-image: linear-gradient(top, rgb(107, 160, 206), rgb(73, 126, 172));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#6ba0ce', EndColorStr='#497eac');
/*  border-bottom: 1px solid #467cad; */
/*  border-top: 1px solid #699fd0; */
/*  color: #fff;
  text-shadow: 0 1px 0 #104266; */
}

.purchase_title {
    font-weight: 100;
    font-size: 12px;
    text-transform: uppercase;
    text-align: end;
    color: #666;
    width: 105px;
}

.purchase_text {
    text-align: center;
}

.coming_soon {
    position: relative;
    margin-left: 30px;
    bottom: 3px;
}

.rule_line .rule_description {
    text-align: center;
}

.rule {
    margin-top: 10px;
}

.rule p:first-child {
/*    margin-top: 20px; */
}

.purchase_line td:first-child {
    margin-left: 10px;
}

.popover-content p.popover_instructions {
    margin-bottom: 10px;
}

.initialized_rule {
    color: #888;  
}

.initialized_rule .popover {
    color: #333;  
}

.initialized_rule i.rule_icon {
    opacity: 0.7;
}

.rule_form_part {
    margin-top: 0px;
    width: 46%;
    float: left;
}

.rule_message_part {
    margin-top: 9px;
    width: 40%;
    float: right;
    height: 105px;
    padding: 20px;
}

.rule_message_part p {
    font-size: 14px;
}

.numeric.rule_value {
    width: 170px;
    text-align: right;    
}

#rule_period, #rule_weekly_occurrence, #rule_monthly_occurrence {
    width: 244px;
}

#rule_occasion, #rule_donator, #rule_date, #rule_note {
    width: 234px;
}

#rule_period, #rule_weekly_occurrence, #rule_monthly_occurrence option {
    margin-right: 20px;
}
#newrule {
    width: 55px;
}

.btn i {
    float: left;
    margin-top: 2px;
}

#approval_buttons .btn i {
    margin-top: 3px;
}

.btn-small.action_button [class^="icon-"] {
    margin-top: 3px;
}

.action_link {
    margin-left: 0;
}

.rule_detail_line {
    margin-left: 0;    
}

.accordion-data.in.collapse {
    margin-left: -16px;
    color: #777;
/*    background-color: #EEF3F4; */
}

.span100.rightmost {
    margin-left: 0;
}

.span75 {
    width: 75px;
}

/*
.rule_line .action_link a.info_button {
    float: right;
    width: 30px;
    margin-top: 24px;
} */

.rule_line .action_link a {
    float: right;
    width: 60px;
    margin-top: 21px;
}

.modal_submit {
    position: absolute;
    bottom: 16px;
    right: 15px;
}

#modal_close {
    position: relative;
    right: 115px;
}
/*
#rule_form {
    margin-top: 30px;
}

.rule_occurrence {
    width: 175px;
    margin-left: 5px;
}
*/
.rule_background .popover-inner {
 /*   width: 250px; */
}

h3.popover-title {
    font-size: 16px;
}
.popover-title.sub-title {
    font-size: 14px;
    font-weight: 100;
    margin-bottom: -10px;
    margin-left: -13px;
}
.rule_button_text {
    font-size: 14px;
}

.modal-body {
    width: 530px; /* probably not calulated probably by TB because its content is dynamic and non existent when firstly built */
}

.box h3 {
    margin-bottom: 0;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.new_rule_line {
    line-height: 52px;
}

/* Additions of feature/rules that are not in master. Break the purchases page */

.inline-submit {
    float: right;
    margin-right: 40px;
    margin-top: 21px;    
}

.rule_line .form-actions {
    
}

.rule_value_wrapper {
    
}
/*
.rule_value {
    width: 52px;
}

.numeric.rule_value {
    text-align: right;
}

#rule_period.rule_period {
    width: 110px;
    margin-left: 35px;
}

.offset25 {
    margin-left: 285px;
}

#rule_occurrence.rule_occurrence {
    width: 105px;
}

label.select.optional.control-label[for=rule_occurrence] {
    margin-left: 4px;    
}

.accordion-data .form-inputs {
    margin: 0 10px;
}

label.select.optional.control-label {
    margin: 0 10px;
}
*/
.accordion-group {
    
}

.rule_line {
    line-height: 67px; 
    padding-left: 16px;

}


#rules .popover-content {
    line-height: 18px;
}

.rule_line .form-inputs, .controls, .control-group {
    display: inline;
}

.rule_line form {
    display: inline;
}
.rule_line .icon {
    
}

.rule_line:hover {
    background-color: white;
}

.rule_line img {
    max-height: 32px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 21px;
    
}

.action_link {
    float: right;
    margin-right: 24px;
}

.rule_background {
      background-color: #e5e5e5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(235, 235, 235)), to(rgb(229, 229, 229)));
  background-image: -webkit-linear-gradient(top, rgb(235, 235, 235), rgb(229, 229, 229));
  background-image: -moz-linear-gradient(top, rgb(235, 235, 235), rgb(229, 229, 229));
  background-image: -o-linear-gradient(top, rgb(235, 235, 235), rgb(229, 229, 229));
  background-image: -ms-linear-gradient(top, rgb(235, 235, 235), rgb(229, 229, 229));
  background-image: linear-gradient(top, rgb(235, 235, 235), rgb(229, 229, 229));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ebebeb', EndColorStr='#e5e5e5');
  border-top: 1px solid #fafafa;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  height: 68px;
}

/* the following was added in feature/rules and breaks purchases query hence starred:
.action_link a {
    margin-left: 60px;   

*/
/* End of additions of feature/rules that are not in master. Break the purchases page */


.alert.alert-block .btn.inline {
    float: right;
    margin-bottom: -5px;
    margin-top: -4px;

}

body#paykido ul li {
    list-style:none;
    list-style-type:none; 
}

#rule .modal-header {
  padding: 14px 15px 15px;
  margin-bottom: 0;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
     -moz-box-shadow: inset 0 1px 0 #ffffff;
          box-shadow: inset 0 1px 0 #ffffff;
              
  text-shadow: 0 1px 0 #FFFFFF;

}

.modal-header i {
    float: left;
    margin-right: 2px;
    margin-top: -13px;   
    margin-left: -15px; 
}

.modal-header h3 {
    font-size: 22px;
    text-shadow: 0 1px 0 #FFFFFF;

}

#notifications i {

    margin-right: 5px;   
}

#purchases_filter label {
    line-height: 35px;
}

#new_token .form-actions {
    margin-bottom: -29px;
    margin-top: -5px;
    padding-bottom: 0;   
}

#new_token input {
    width: 96%;
}
nav#secondary UL {
    margin-top: 0px;
}

.alert-inner {
    margin-top: -4px;
}
#manual_approval_buttons {
    display: inline;
    float: right;
    margin-right: 18px;
    margin-top: 6px;
}

button#approve {
    margin-right: 40px;   
}

button#decline {
        
}
.content-header p {
/*   margin-top: 15px; */     
}

.alert.alert-block .alert-heading {
    margin-top: -10px;
}

.fieldWithErrors {
  display: inline;
}

#error_explanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#error_explanation ul {
  margin: 2px 24px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: disc;
}
.span2 .btn-group {
    
}

.always_approve {
    
}

.call_me {
    
}

.always_decline {
    
}

a:focus { 
    outline: none; 
}

/*
.accordion-group {
    width: 97%;
    padding: 7px;
}

.accordion-group:hover {
    background-color: white;
}
*/
.rule_edit {

}

.settings {
    
    font-size: 14px;
}

.settings a {
    color: #555;
}

.rule_property {
} 

.rule_value {
}

.rule_action {
    color: #0088CC; 
    float: right;  
}

.rule_edit_area .btn-group {
    float: right;
}
.rule_edit  {
    float: right;
    text-align: right;
}

.rule_edit_area.in {

    margin-top: 20px;
}

.alert-info {
    color: black;
}

#why_register, .registration_form {
    
   margin-top: 20px;
}


button i.bigicon-tick-black {
    
}
#confirmation_popover {
    width: 29em;
}


#modalcontainer .icon32 {
    margin-top: 7px;   
}

#confirmation_popover img {
    width: 32px;
}
.inline {
    display: inline;
}

form.button_to div {
    display: inline;
/*    margin-left: 30px; */
    vertical-align: text-bottom;
}

#denial_success.alert-block {
    padding-bottom: 7px;
}

#approval_success.alert-block, #approval_failure.alert-block, #registration_failure.alert-block, #unregistration_success.alert-block  {
    padding-bottom: 7px;
}

.alert .sp_alert {
    padding-left: 16px;
}

form.button_to {
    display: inline;
}

.alert.alert-block {
    top: 66px;
    margin-left: 5px;
    width: 66.1%;
}

.alert {
    position: absolute;
    top: 2px;
    left: 366px;   /* Dror - terrible: replace the Spina template with TB's 'aside' */
    right: 366px;


}

#why_register {
    padding-bottom: 24px;
}

.filters a {
    cursor: pointer;
}

#new_token .blue.button {
    width: 100%;
}   
.registration_form {
    float: right;
    margin-right: 44px;
    width: 310px;
}

.features {
    margin-top: 51px;   
}

p.feature .icon32 {
    padding-bottom: 12px; 
    vertical-align: middle;  
}
#dashboard_left {
    margin-left: -15px;
}

#login_form form {
   margin: 0; 
}

#login_form form input {
   margin: 0; 
}


#space_before_registration_form {
    margin-top: 25px;    
}

/*
label:first-child {
    margin-top: 10px;
}

label, input {
    display: block;
}
*/
#new_registration input, #new_token input {
    margin-bottom: 7px;
    margin-top: 2px;
}

#new_registration input[type="submit"], #new_token input[type="submit"] {
    height: 50px;
    font-size: 26px;
    font-weight: 100;
    margin-left: -17px;
    width: 305px;
}
.content-box {
    clear: both;
    float: left;
    margin: 13px 0 25px;
    width: 580px;
}
.content-box-top {
    background: url("/images/box-content-top.png") no-repeat scroll 0 0 transparent;
    clear: both;
    float: left;
    height: 5px;
    width: 580px;
}
.content-box-announcement {
    background: url("/images/box-content-middle.png") repeat scroll 0 0 transparent;
    clear: both;
    float: left;
    padding: 5px 20px;
    width: 540px;
    height: 145px;
}
.content-box-bottom {
    background: url("/images/box-content-bottom.png") no-repeat scroll 0 0 transparent;
    clear: both;
    float: left;
    height: 5px;
    width: 580px;
}

.feature_overview {
    font-size: 16px;
}

.feature_text {
    display: inline;
    font-size: 20px;
    text-shadow: 0 1px 0 #FFFFFF;
}


.hero-unit p.feature {
   margin: -5px; 
}


.marketial img {
    margin-bottom: -18px;
}


.marketial {
    margin-left: 24px;
    font-size: 14px;
}

td.navigation_icon {
    width: 15px;
}

table.navigation {
    border-collapse: separate;
}

.page_head {
    height: 51px;  
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
  background: #dddddd url('../images/button.png') repeat-x;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dddddd));
  background-image: -webkit-linear-gradient(#ffffff, #dddddd);
  background-image: -moz-linear-gradient(#ffffff, #dddddd);
  background-image: -o-linear-gradient(#ffffff, #dddddd);
  background-image: -ms-linear-gradient(#ffffff, #dddddd);
  background-image: linear-gradient(#ffffff, #dddddd);
  outline: 0;
  overflow: visible;
  padding: 3px 10px;
  width: auto;
  *padding-top: 2px;
  *padding-bottom: 0;
  margin-bottom: 20px;
  margin-left: -18px;
}

.page_head h1 {
    display: inline;
    text-shadow: 0 1px 0 #FFFFFF;
    font-size: 32px;
    font-weight: 100;
    line-height: 56px;
    margin-left: 5px;
}
.page_head a {
    float: right;
    font-size: 16px;
    line-height: 23px;
    margin-right: 2%;
}

#callback {
    position: absolute;
    right: 37%;
    top: 32%;
    width: 343px;
    z-index: 10000;    
}

#purchases tr.active .icon32 {    
    background-position: 100% center;
}
#purchases tr.active a {
    color: #ddd;
}
    
.purchase_row td.status {
	padding-left: 10px;
}

label.list {
	display: inline;
}
td.purchase_details {
	width: 265px;
	font-weight: 100;
}

#purchases tr.purchase_row td.purchase_price {
	width: 65px;
}
tr:hover {
	background-color: white;
}
tr#noWhite:hover {
    background-color: transparent;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#44FFFFFF,endColorstr=#44FFFFFF);
    zoom: 1;

}

body#paykido  a {
	text-decoration: none;
}
#approval_modal.box {  //doesnt work!
	width: 520px;
}

.consumer.active.confirmed a .avatar.fr img{   //find a uniform way of returning positive feedback on an element
    -webkit-transition: border, -webkit-box-shadow, 0.5s ease;
    -moz-transition: border, -moz-box-shadow, 0.5s ease;
    -ms-transition:0.5s ease;
    -o-transition:0.5s ease;
    transition:border, box-shadow, 0.5s ease;

	box-shadow: 0 0 12px #FFF;
	-moz-box-shadow: 0 0 12px #FFF;
	-webkit-box-shadow: 0 0 12px #FFF;
	
	border: 2px solid green;
	position: relative;
	top: -2px;
	right: -2px;
}

#confirmation_modal {
	width: 40em;
}

}

.consumer.icon32.user {
	margin-top: 11px;
}

.consumer.avatar img{
	position: absolute;
	top: 51px;
	left: 10px;
}

.login {
	float: right;
	margin-right: 3%;
	margin-top: 7px;
}
.secondary_name {
	line-height: 32px;
	font-size: 18px;
	text-transform: capitalize;
	font-weight: 100;
	
}
.avatar img {
	box-shadow: 0 0 8px #999;
	-moz-box-shadow: 0 0 8px #999;
	-webkit-box-shadow: 0 0 8px #999;
	margin-right: 5px;
	border: 1px solid #333333;
}
.active .avatar img {
    box-shadow: 0 0 8px #fff;
    -moz-box-shadow: 0 0 8px #fff;
    -webkit-box-shadow: 0 0 8px #fff;
}

.fl {
    float: left;
}

.purchase_line .actions a {
    visibility: hidden;
}

.purchase_line:hover .actions a {
    visibility: visible;
}

.purchase_line .actions a.btn-danger, .purchase_line .actions a.btn-success {
    visibility: visible;
}


.actions {
    float: right;
    margin-top: 3px;
    margin-right: 20px;
}
/*
.actions #whitelist {
    float: right;
}

.actions #blacklist {
    margin-left: 1.5em;
}
*/
.rule.name, .rules_title {
    color: #4C82B3;
}

.rules_title {
	font-size: 14px;
}

.status .icon32 {

	position: relative;
	bottom: 7px;
    margin-left: 0.4em;
    padding-bottom: 13px;
    padding-left: 30px;
}

.icon32 {
	padding-bottom: 32px;
	padding-left: 32px;
}

.modal-header h1 {
    font-size: 18px;
}

.purchase_info td {
    padding: 0 0;
}

body {
/*    font-family: 'ubuntu', sans-serif; */ /* Dror */

}
.shadow {
    text-shadow: 0 1px 0 #FFFFFF
}

/*
body#paykido .tooltip {
    text-shadow: none;
}

body#paykido .tooltip.large {
    font-size: 20px;
}*/

.help {
    background-image: url(/spina/img/icons/question_32_16.png);
    padding-left: 1.5em;
    margin-left: 1em;
    vertical-align: text-bottom;
}

.whitelist {
    background-image: url(/spina/img/icons/tick_32_16.png);

}
.blacklist {
    background-image: url(/spina/img/icons/delete_32_16.png);
}

.blue .whitelist, .blue .blacklist {
    background-position: 100%;
}


.help.fr {
    height: 1.4em;
}

.approval_rate {
    color: #888;
}

.approval_text {
    font-size: 18px;
}
.approval_percent {
    font-weight: bold;
    font-size: 16px;
    text-shadow: 0 1px 0 #FFFFFF;
    margin-left: 9px;
    position: relative;
    top: 4px; 
}

.like {
    background: url('/images/Thumbs-up-icon.png'), no-repeat;
    background-repeat: no-repeat;
    padding-left: 2em;
    vertical-align: top;
    font-size: 11px;
}

.retailer_info {
    margin-top: 1em;
}

.retailer_info .small.button {
    float: right;
    padding-left: 0.5em;
    vertical-align: top;
}

.star_rating {
    background-image: url('/images/star_rating.png');
    background-repeat: no-repeat;
    padding-left: 6em;
    padding-bottom: 5px;
    vertical-align: top;
}

#purchases td {
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 15px;
} 

.retailer.whitelist.fr {
    padding-top: 23px;
}

.retailer_logo img {
    margin-top: 2%;
}



.purchase_logo img{
    max-height: 52px;
    max-width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.rule.property .whitelist {
    margin-left: 1em;
}

.action_bar.actions {
    background: none;
    display: inline;
    float: right;
    margin-right: 6%;
    padding: 0;
    margin-top: 0;
}

.rule {
 
}
.rule.actions {
    margin-top: 16px; 
    font-size: 14px;
    width: 100%; 
    float: left;     
}

.rule.name {
    margin-top: 45px;
    font-size: 2em;   
}

.property_name {
    font-size: 22px;
    position: relative;
    top: -3px;
}

.rule.header {
    font-size: 18px;
    font-weight: bold;
    color: #4C82B3;
 
}


tr:hover {
 
}
#approval_buttons .small.button {
    padding: 0px 6px; 
}

.approval.button {
}
.decline.button {
    float: right;
}
.approval_buttons p a {
    visibility: hidden;
    margin-left: 0;
}

tr:hover .approval_buttons p a{
    visibility: visible;
}

.sp_popover > section > .content > nav > ul > li {
    text-align: center;
}

.retailer_name {
    
}
.purchase_line input[type="checkbox"] {
    margin-left: 20%;
}

.purchase_value {
    margin-left: 5%;
    font-size: 20px;
    color: #477DAE;
    font-stretch:
}

td.purchase_logo {

}

.purchase_line {
    height: 62px;
}

.purchase_info tbody tr:nth-child(2n+1) td {
    background: none;
/*    border-bottom: 1px solid #FFFFF;
    border-top: 1px solid #FFFFFF; */

}

td.approval_buttons {
    padding-right: 34px;
    padding-left: 0;
}


.actionButton {
    width: 4em;
    margin-left: 2em;
}
    
#under_slider .ui-slider-range {
    background-image: -moz-linear-gradient(center top , #6DB66D, #FEFEFE);
    border-top: 0.5px solid #999999;
    height: 7px;
}

#over_slider .ui-slider-range {
    background-image: -moz-linear-gradient(center top , #940505, #FEFEFE);
    border-top: 0.5px solid #999999;
    height: 7px;

}

#consumer_allowance_period_chzn:nth-child(10) {
    display: none;
}

#allowance_form {
    margin-top: 15px;
}

.purchase_height {
    height: 555px;
}

.allowance.date_picker {
    position: relative;
}

.allowance.date_picker span{
    position: absolute;
    right: 8px;
    top: 9px;
}
/*
.bottom {
    position: absolute;
    bottom: 2px;
}
*/
.relative {
    position: relative;
}

.content-header {
    
}

.mr {
    margin-right: 2em;
}

.fr {
    float: right;
}

.progress span b {
    font-size: 0.9em;
}
.progress {
    -o-border-radius: 7px;
    -ms-border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    height: 7px;
    background: url("/spina/img/slider_bg.png") repeat-x scroll 0 0 transparent;      
/*    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#555555', endColorstr='#e9e9e9'); */
    margin-top: 18px;
}

.progress span {
    -o-border-radius: 10px 2px 2px 10px;
    -ms-border-radius: 10px 2px 2px 10px;
    -moz-border-radius: 10px 2px 2px 10px;
    -webkit-border-radius: 10px 2px 2px 10px;
    border-radius: 10px 3px 3px 10px;
    height: 5px;

        background-color: #EEE;
        background-image: -o-linear-gradient(top, #6DB66D, #FEFEFE);
        background-image: -ms-linear-gradient(top, #6DB66D, #FEFEFE);
        background-image: -moz-linear-gradient(top, #6DB66D, #FEFEFE );
        background-image: -webkit-gradient(linear, left top, left bottom, from(#6DB66D), to(#FEFEFE));
        background-image: -webkit-linear-gradient(top, #6DB66D, #FEFEFE);
        background-image: linear-gradient(top, #6DB66D, #FEFEFE);
        display: block;
        border-top: 0.5px solid #999;
        border-bottom: 0.5px solid #6DB66D;}

#allowance_display, #over_display, #under_display {
    background: transparent;
    border: none;
    display: inline;
    width: 20%;
}

.formtitle {
    font-variant: small-caps;
    margin-bottom: 0px;
    margin-left: 9px;

}

#next-allowance-date {
    height: 34px;
}

#consumer_allowance_period_chzn {
    display: inline;
}

.allowace.date_picker {
    
}

.allowace.next_allowance_date {
    
}

.allowace.next_lable {
    
}

.allowance.day {
    width: 20%;
}

#consumer_allowance_period{
    
}

.allowace.label {
    
}

.allowance {
}

.allowance.period {
    width:20%;
}

.allowance.inline {
    margin-top: 5px;
}

.frequency {
    display: inline;
}

.frequency input {
    width: 30%;
}

.currValue {
    display: inline;
}

#allowance_form .currValue input[type="text"]  {
    width: 15%;
    border: none;
}

#allowance_form .slider {
    display: block;
}

/*
.label {
    display: inline;
  color: #898989;
  float: left;
  font-size: 11px;
  font-weight: bold;
  text-shadow: 0 1px 0 #fff;
  text-transform: uppercase;
}
*/
.translation_missing {
    color: purple;
}

td.status {
    width: 15px;
}

.pic {
    width: 100px;
}

.logo {
    float: right;
    margin-top: 4%;
    margin-right: 6%;
    
}

.greyedOut {
     -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

  /* IE 5-7 */
  filter: alpha(opacity=50);

  /* Netscape */
  -moz-opacity: 0.5;

  /* Safari 1.x */
  -khtml-opacity: 0.5;

  /* Good browsers */
  opacity: 0.5;

}

.greyedOut:hover {
     -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";

  /* IE 5-7 */
  filter: alpha(opacity=100);

  /* Netscape */
  -moz-opacity: 1;

  /* Safari 1.x */
  -khtml-opacity: 1;

  /* Good browsers */
  opacity: 1;

}

.button.blue .icon16 {
  background-position: 100%;
}


.message-count {
    background: red;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -o-box-shadow: 0 0 3px rgba(0,0,0,0.1);
    -ms-box-shadow: 0 0 3px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 0 3px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.1);
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
    color: #FFF;
    font-size: 12px;
    font-weight: bold;
    line-height:18px;
    height: 18px;
    padding: 0 4px;
    text-shadow: none;
    /* positioning */
    z-index: 999;
    box-shadow: 0 2px 6px rgba(0,0,0,0.4), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.1);
   -o-box-shadow: 0 2px 6px rgba(0,0,0,0.4), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.1);
   -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.4), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.1);
   -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.4), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.1);
    text-shadow: 0px 1px 1px #fff;
    text-shadow: 0px -1px #666, 0px 0px #FFF;

    }

.action_bar.filters {
    margin-top: 4%;
    margin-bottom: -1%;
    margin-left: 0%;
    background: none;
}

.filters .button{
    margin-left: 8px;
}

.photo {
    width: 48px;
    height: 60px;
    float: right;
    margin: -10px;
}
.clearfix:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}