#farmville1 {
	position:absolute;
	top:0;
	left:0;
	
}
#farmville2 {
	position:absolute;
	top:727px;
	left:0;
}

#button {
	position:absolute;
	top: 940px;
	left:495px;
	z-index:1000;
}
#caption {
	position:absolute;
	top: 984px;
	left:449px;
	z-index:1000;
}

#servicewindow{
	position:absolute;
	top:929px;
	left:495px;
	font-size:48px;
	color:transparent;
	z-index:2000;
}
