

	<h1 class="ui-widget-header ui-corner-all">shalom</h1>
	<h2 class="ui-widget-header ui-corner-all">this is h2</h2>
	<div class="ui-widget-content ui-corner-all">I'm a div</div>
	<ul>
		<li>I'm a bullet</li>
		<li>I'm another bullet</li>
	</ul>
	</ul>
	
	<button class="fg-button ui-state-default ui-corner-all" type="submit">Button</button>
<a href="#" class="fg-button ui-state-default ui-corner-all">Link</a>

<div class="fg-buttonset fg-buttonset-single fg-toolbar">
	<button class="fg-button ui-state-default ui-priority-primary ui-corner-left">Visual</button>
	<button class="fg-button ui-state-default ui-priority-primary">Code</button>
	<button class="fg-button ui-state-default ui-priority-primary">Split</button>
	<button class="fg-button ui-state-default ui-priority-primary ui-corner-right">Preview</button>
</div>
<div class="fg-buttonset fg-buttonset-single fg-toolbar">
	<button class="fg-button ui-state-default ui-priority-primary ui-corner-left" style="width:450px;height:45px"></button>
	<button class="fg-button ui-state-default ui-priority-primary">Code</button>
	<button class="fg-button ui-state-default ui-priority-primary">Split</button>
	<button class="fg-button ui-state-default ui-priority-primary ui-corner-right">Preview</button>
</div>

	<div id="header">
	<div id="headerInner" class="clearfix">
					<p id="filament_logo"><a href="/">Filament Group, Inc</a></p>
				
		<ul id="primaryNavigation" class="clearfix">
			<li class="whatwedo"><a href="/services">What we do</a></li>
			<li class="whatwevedone"><a href="/portfolio">What we've done</a></li>
			<li class="whatwerethinking"><a href="/lab">What we're thinking</a></li>
			<li class="whoweare"><a href="/about">Who we are</a></li>
			<li class="contactus"><a href="/contact">Contact Us<span class="arrow"><span></span></span></a></li>
		</ul>
	</div><!-- /headerInner -->
</div><!-- /header -->


