	<div id="remainder">
		<div id="teens">
			<div class="promise">
				<div class="box_title">Instant Cash - No Advance Payment</div>
				<div class="text">Tired of going to the store...</div>
				<div class="learn">Learn how we get you instant cash in one click!</div>
			</div>
			<div class="promise">
				<div class="box_title">Instant Parental Authorization</div>
				<div class="text">Never stop the game again...</div>
				<div class="learn">Learn how we get instant parental authorization!</div>
			</div>
		</div>
		<div id="parents">
			<div class="promise">
				<div class="box_title">We check every purchase your kids make so that you won't have to!</div>
				<div class="text">Do you know what your kids are doing online...</div>
				<div class="learn">Learn how to protect your kids' purchases</div>
			</div>
		</div>	
	</div>