$('#retailers .left_content').html(
	'<p class="inner_content_title">&nbsp;</p>'+
	'<p class="content-name-left"><%= @retailer.name %></p>'+
	'<div class="inner_content_text"></div>'+
	'<p>'+
		'<span class=item>Monthly purchase count:</span>'+			
		'<span class=content-value><%= @retailer.purchase_count %></span>' +
	'</p>'+
	'<p>'+
		'<span class=item>Monthly purchase total:</span>'+			
		'<span class=content-value><%= number_to_currency(@retailer.total_amount) %></span>' +
	'</p>'+
	'<p>'+
		'<span class=item>Last purchase:</span>'+			
		'<span class=content-value><%= @retailer.most_recent.to_date.strftime("%B %d, %Y") %></span>' +
	'</p>'
);	
