<%= image_tag "/images/farmville1.png", :id => "farmville1" %>
<%= image_tag "/images/farmville21.png", :id => "farmville2" %>
<a href="http://www.go-arca.com/consumer/buy_window?
	sn=ACME&
	userid=131827&
	amount=6.99&
	amountdesc=Gold%20Membership&
	has=df659d502af5151a2edd18e2ebb50ba3&
	xdurl=http:%2F%2Fwww.mydomain.com%2Fxd.html"
	rel="facebox">
	<img src="http://localhost/images/arca button.png" id="arca" border=0 alt="arca"/>
</a>

