<img src="/images/money_page.png" alt=""/>
<div id="there">place for window</div>	
<br />
<br />
<br />
<%= link_to_remote "I'm link to remote", 
					:url => {:action => 'servicewindow'},
					:update => 'there' %>
<%= link_to "pop-up" , { :action => "help" },
:popup => ['Help' , 'width=200,height=150' ]
%>

<a id="arca" href="/farmville/help">the link</a>


