<div id="here">to be updated...</div>
<img src="/images/spare_change_page.png" alt=""/>
<%= link_to_remote "I'm link to remote", 
					:url => {:action => 'servicewindow'},
					:update => 'here' %>
<%= link_to_function "About...",
    "Dialog.alert({url: 'www.ynet.co.il', options: {method: 'get'}},
    {windowParameters: {className: 'default'}},
    {okLabel: 'Close'});" %>
    