
    <script type="text/javascript" src="http://static.pbc.com/js/ultimatepay-api.js"></script>
    <script type="text/javascript">

    var ultimatePayParams = {
      "sn"            : "ACME",
      "userid"        : "131827",
      "amount"        : "6.99",
      "amountdesc"    : "Gold Membership",
      "hash"          : "df659d502af5151a2edd18e2ebb50ba3",
      "xdurl"         : "http://www.mydomain.com/xd.html"
    }

    // Merchant-defined function to display Lightbox.
    function showLightbox() {
      	ulp.ultimatePay = true;
	ulp.displayUltimatePay();
    }

    </script>

    <a href="javascript:showLightbox();">Pay Now</a>

    <!-- This DIV tag is required and must have its id attribute set to "div_b" -->
    <div id="div_b" style="display:none;padding:10px;position:absolute;top: 50%;left: 50%; margin-top: -212px; margin-left: -351px;"></div>

