<div id = "c" class="alert">
    <button id="a" class="close" data-dismiss="alert">×</button>
    <strong>Warning!</strong> Best check yo self, you're not looking too good.
</div>
<br /><br />
<a id="b" class="close" data-dismiss="alert" href="#">&times;</a>

<script>
