<i class="bigicon-seal"></i>
<span class="badge badge-important">6</span>
<div class="row">
    <div class="span4">...</div>
    <div class="span8">
	    <div class="hero-unit">
	    <h1>Hello World</h1>
	    <p>Tagline</p>
	    <p>
	    <a class="btn btn-primary btn-large">
	    Learn more
	    </a>
	    </p>
	    </div>	
	</div>
</div>
