<h1>Account Registration</h1>

<table>
	<thead> 
	  <tr>
	    <th></th>
	    <th></th>
	    <th></th>
	  </tr>
  	</thead>
	<tbody>
		<% @payer.registrations.each do |registration| %>
		  <tr>
		    <td>Gate2Shop</td>
		    <td>Credit card registered</td>
		    <td><%= link_to 'Edit', edit_payer_registration_path(registration) %></td>
		  </tr>
		<% end %>
	</tbody>
</table>

<br />
<%= link_to 'New Registration', new_payer_registration_path unless @payer.registered? %>
