<h1>Account Registration</h1>

<table>
	<tbody>
		<% @payer.registrations.each do |registration| %>
		  <tr>
		    <td><%= registration.NameOnCard %></td>
		    <td>Credit card registered</td>
		    <td><%= link_to 'Details', payer_registration_path(@payer, registration) %></td>
		  </tr>
		<% end %>
	</tbody>
</table>

<br />
<%= link_to 'Register to Paykido - it\'s free!', new_payer_registration_path unless @payer.registered? %>
