<%= render :partial => 'page_head', :locals => {:title => 'Registration Details'} %>
<table>
	<tbody>
		<% @registration.attributes.each do |name, value| %>
		  <tr>
		    <td><%= name %></td>
		    <td><%= value %></td>
		  </tr>
		<% end %>
	</tbody>
</table>

<br />
