<div id="approval_popover" class="popover">
    <header>
        <%= t 'approval_heading' %>
    </header>
    <section>
		<div class="content">
			<nav>
				<ul>
               		<li class="new">
		            	<span class="consumer icon32 user fl"></span>
                   		<span><%= t 'approval_1', :count => @pendings_count %></span>
               		</li>
                    <li class="instructions">
                    	<%= t 'approval_2' %>
                	</li>
                    <li class="instructions">
                    	<a><%= t 'approval_3' %></a>
                	</li>
                </ul>
            </nav>
        </div>
    </section>
</div>

