<div class="marketial hero-unit semi_transparent_bg" id="why_register">
	<h1>Reach out to a huge new market</h1>
	<h2>Enable kids to buy in-app features & products</h2>
	<h2>Become a recognized kids-safe merchant</h2>
	<h2>Boost sales and cut chargbacks</h2>
</div>
