<div class="hm_container" id="section1"> 
	<div align="center"> <img src="/home/img/parents_approve.jpg" /> </div>
</div>


<div class="clear"></div>
<div class="hm_container" id="merchants">

	<div class="grid_8">
	    <div class="grid_4 marketial section_title">
	    	<h1>Merchants</h1>
    	</div>	
		<div class="grid_4">
		    <blockquote>
			    <p>Overwolf helps players stay in the game and connect while playing. With Paykido we can enable players to stay in the game and buy what they need when they need it.</p>
			    <small>Uri Marchand, CEO, Overwolf</small>
		    </blockquote>
	    </div>
	</div>

	<div class="grid_8">
		<div class="grid_4">
			<div class="marketial hero-unit semi_transparent_bg" id="why_register">
				<h1>Reach out to a huge new market</h1>
				<h2>Enable kids to buy in-app features & products.</h2>
				<h2>Become a recognized kids-safe merchant.</h2>
				<h2>Boost sales and minimize chargebacks.</h2>
			</div>
 		</div>

		<div class="grid_4 home_image">
			<img id="in-app" src="/home/img/in-app.png" /> 
		</div>
	</div>	
  
</div>


<div class="clear"></div>
<div class="hm_container" id="parents">
  
	<div class="grid_8">
	    <div class="grid_4 marketial section_title">
	    	<h1>Parents</h1>
    	</div>	
		<div class="grid_4">
		    <blockquote>
			    <p>Kids' safety and parental peace of mind are of the utmost importance to us as a company that targets kids. Paykido manages to address very well the needs of kids and parents alike.</p>
			    <small>Yuval Kaminka, CEO, Joytunes</small>
		    </blockquote>
	    </div>
	</div>

	<div class="grid_8">
		<div class="grid_4">
			<div class="marketial hero-unit semi_transparent_bg" id="why_register">
				<h1>Peace of mind</h1>
				<h2>No risky offers, improper products, bill shocks.</h2>
				<h2>Paykido watches what your kids buy 24 by 7.</h2>
				<h2>You decide when and how to pay.</h2>
			</div>
 		</div>

		<div class="grid_4 home_image">
  			<img id="parents" src="/home/img/for_parents.jpg" />
		</div>
	</div>	
</div>


<div class="clear"></div>
<div class="hm_container" id="teens">
  
	<% if params[:notify] and params[:notify] == 'confirmation' and params[:status] == 'pending' %>
	<div id="confirmation_pending" class="alert alert-block">
		<a class="close" data-dismiss="alert" href="#">×</a>
	    <h4 class="alert-heading">Welcome to Paykido!</h4>
		<span>Please tell your parent to look for our email and confirm you. Once confirmed, return to merchant, click Paykido and buy!</span>
		<% if !params[:back_url].blank? %>
    		<span><%= link_to "return to merchant", params[:back_url], :class => "btn btn-info btn-large inline" %></span>
		<% end %>
	</div>
	<% end %>
	<% if params[:notify] and params[:notify] == 'confirmation' and params[:status] == 'error' %>
	<div id="confirmation_pending" class="alert alert-block">
		<a class="close" data-dismiss="alert" href="#">×</a>
	    <h4 class="alert-heading">Please try again</h4>
		<span><%= "#{params[:property]} #{params[:value]} is #{params[:type]}. Please try again." %></span>
		<% if !params[:back_url].blank? %>
    		<span><%= link_to "Back to website", params[:back_url], :class => "btn btn-info btn-large inline" %></span>
		<% end %>
	</div>
	<% end %>
	<% if params[:notify] and params[:notify] == 'no_rules_set' %>
	<div id="general_update" class="alert alert-block">
		<a class="close" data-dismiss="alert" href="#">×</a>
	    <h4 class="alert-heading">Old Test Account</h4>
		<span>This test account was left from the old release and needs to be cancelled. Please contact Paykido for help.</span>
	</div>
	<% end %>


	<div class="grid_8">
	    <div class="grid_4 marketial section_title">
	    	<h1>Teens</h1>
    	</div>	
		<div class="grid_4">
		    <blockquote>
			    <p>My prepaid card used to expire all too often when I needed that extra help in the game. Now with Paykido I just buy what I want with a click. Cool!</p>
			    <small>Some kid</small>
		    </blockquote>
	    </div>
	</div>

	<div class="grid_8">
		<div class="grid_4">
			<div class="marketial hero-unit semi_transparent_bg" id="why_register">
				<h1>Fun and games</h1>
				<h2>Get what you want - when you want it.</h2>
				<h2>No cards to buy, surveys to do, offers to take.</h2>
				<h2>Buy with a click, no parents around.</h2>
			</div>
 		</div>

		<div class="grid_4 home_image">
  			<img id="game" src="/home/img/for_kids.jpg" /> 
		</div>
	</div>	

</div>


<div class="clear"></div>

<!--

<div id="footer_wrapper">

	<div id="footer">
        
		<ul class="hm_container">

		<li class="grid_2">
        
            <h3>Social networks</h3>
            <p>For all news and updates, join us on the social networks and stay tuned !</p>
            
            <ul class="social_icons">
                <li><img src="/home/img/icons/facebook.png" width="24" height="24" alt="Facebook" /></li>
                <li><img src="/home/img/icons/twitter.png" width="24" height="24" alt="Twitter" /></li>
                <li><img src="/home/img/icons/flickr.png" width="24" height="24" alt="Flickr" /></li>
                <li><img src="/home/img/icons/digg.png" width="24" height="24" alt="Digg" /></li>
                <li><img src="/home/img/icons/blogger.png" width="24" height="24" alt="Blogger" /></li>
            </ul>
      
        </li>

		<li class="grid_2">
        
            <h3>Freelance work</h3>
            <p>I'm currently available for freelance work, I can design for you a brand new website or create an awesome logo.<br />Just <a href="#">drop me an email</a> to get in touch !</p>
      
        </li>

		<li class="grid_2">
        
            <p>&nbsp;</p>
            <p>This theme uses 100% valid<br /><a href="#">HTML</a> and <a href="#">CSS</a></p>
            <p>Copyright &copy; 2010 Pixelstudio</p>
      
        </li>

		</ul>

    </div>
    
</div><!-- END FOOTER --> 
