<div class="hm_container" id="section1"> 
	<div align="center"> <img src="/home/img/parents_approve.jpg" /> </div>
</div>


<div class="clear"></div>
<div class="hm_container" id="section2">

	<div class="grid_8">
	    <div class="grid_4 marketial section_title">
	    	<h1>Merchants</h1>
    	</div>	
		<div class="grid_4">
		    <blockquote>
			    <p>Overwolf helps players stay in the game and connect while playing. With Paykido we can enable players to stay in the game and buy what they need when they need it.</p>
			    <small>Uri Marchand, CEO, Overwolf</small>
		    </blockquote>
	    </div>
	</div>

	<div class="grid_8">
		<div class="grid_4">
			<div class="marketial hero-unit semi_transparent_bg" id="why_register">
				<h1>Reach out to a huge new market</h1>
				<h2>Enable kids to buy in-app features & products.</h2>
				<h2>Become a recognized kids-safe merchant.</h2>
				<h2>Boost sales and minimize chargebacks.</h2>
				<p><%= link_to "Tell me more", "#" %></p>
			</div>
 		</div>

		<div class="grid_4 home_image">
			<img id="in-app" src="/home/img/in-app.png" /> 
		</div>
	</div>	
  
</div>


<div class="clear"></div>
<div class="hm_container" id="section3">
  
	<div class="grid_8">
	    <div class="grid_4 marketial section_title">
	    	<h1>Parents</h1>
    	</div>	
		<div class="grid_4">
		    <blockquote>
			    <p>Kids' safety and parental peace of mind are of the utmost importance to us as a company that targets kids. Paykido manages to address very well the needs of kids and parents alike.</p>
			    <small>Yuval Kaminka, CEO, Joytunes</small>
		    </blockquote>
	    </div>
	</div>

	<div class="grid_8">
		<div class="grid_4">
			<div class="marketial hero-unit semi_transparent_bg" id="why_register">
				<h1>Peace of mind</h1>
				<h2>No risky offers, improper products, bill shocks.</h2>
				<h2>Paykido watches what your kids buy 24 by 7.</h2>
				<h2>You decide when and how to pay.</h2>
				<p><%= link_to "Tell me more", "#" %></p>
			</div>
 		</div>

		<div class="grid_4 home_image">
  			<img id="parents" src="/home/img/for_parents.jpg" />
		</div>
	</div>	
</div>


<div class="clear"></div>
<div class="hm_container" id="section4">
  
	<div class="grid_8">
	    <div class="grid_4 marketial section_title">
	    	<h1>Teens</h1>
    	</div>	
		<div class="grid_4">
		    <blockquote>
			    <p>My prepaid card used to expire all too often when I needed that extra help in the game. Now with Paykido I just buy what I want with a click. Cool!</p>
			    <small>Some kid</small>
		    </blockquote>
	    </div>
	</div>

	<div class="grid_8">
		<div class="grid_4">
			<div class="marketial hero-unit semi_transparent_bg" id="why_register">
				<h1>Fun and games</h1>
				<h2>Get what you want - when you want it.</h2>
				<h2>No cards to buy, surveys to do, offers to take.</h2>
				<h2>Buy with a click, no parents around.</h2>
				<p><%= link_to "Tell me more", "#" %></p>
			</div>
 		</div>

		<div class="grid_4 home_image">
  			<img id="game" src="/home/img/for_kids.jpg" /> 
		</div>
	</div>	

</div>


<div class="clear"></div>


<!--

<div id="footer_wrapper">

	<div id="footer">
        
		<ul class="hm_container">

		<li class="grid_2">
        
            <h3>Social networks</h3>
            <p>For all news and updates, join us on the social networks and stay tuned !</p>
            
            <ul class="social_icons">
                <li><img src="/home/img/icons/facebook.png" width="24" height="24" alt="Facebook" /></li>
                <li><img src="/home/img/icons/twitter.png" width="24" height="24" alt="Twitter" /></li>
                <li><img src="/home/img/icons/flickr.png" width="24" height="24" alt="Flickr" /></li>
                <li><img src="/home/img/icons/digg.png" width="24" height="24" alt="Digg" /></li>
                <li><img src="/home/img/icons/blogger.png" width="24" height="24" alt="Blogger" /></li>
            </ul>
      
        </li>

		<li class="grid_2">
        
            <h3>Freelance work</h3>
            <p>I'm currently available for freelance work, I can design for you a brand new website or create an awesome logo.<br />Just <a href="#">drop me an email</a> to get in touch !</p>
      
        </li>

		<li class="grid_2">
        
            <p>&nbsp;</p>
            <p>This theme uses 100% valid<br /><a href="#">HTML</a> and <a href="#">CSS</a></p>
            <p>Copyright &copy; 2010 Pixelstudio</p>
      
        </li>

		</ul>

    </div>
    
</div><!-- END FOOTER --> 
