<div id="container">

	<img id="source-image" src="/images/invite_background6.jpg" alt="" />

	<div id="login">
		
		<img class="source-image" src="/images/arca logo welcome.png" alt="" id="arca_logo" />
		
		<% form_for(:user, :url => { :action => :index }, :html => {:id => "friend_signin"}) do |f| %>
			
			<p>
				<%= f.text_field :name, :size => 20, :placeholder => "Select a user name", :class => "formfield", :id => "f_user" %>				
			</p>
			<p>
				<%= f.password_field :password, :size => 20, :placeholder => "Select a password", :class => "formfield", :id => "f_pass" %>				
			</p>
			<p>
				<%= button_to "Discover", "/service/index", :class => "fg-button ui-state-default loginbutton ui-corner-all", :id => "f_login"  %>				
			</p>
			
		<% end %>			
			
	</div>
	
</div>
