<p id="hidden_line" style="display:none">request_sent</p>
<!--<%= error_messages_for(:consumer) %>-->
<h3 class="status_line"><%= @status%></h3>
<h3 class="message_line"><%= @message%></h3>
<br />

<!--<%= image_tag 'loading.gif'%>-->
