<%= image_tag "yellowshirt_kid.png", :class => "ys_kid" %>
<p id="text_logo">
	<span class="logo_text">Paykido<span>
	<span class="environment label label-important"><%= Paykido::Application.config.environment %></span>
</p>
