
<div id="buy_window">
	<div id="login_experiments">
		<br /><br /><br /><br /><br /><br />
		<fb:login-button
			registration-url="http://localhost/consumer/register" 
			onlogin="window.location.href = &quot;http://localhost/consumer/buy_window&quot;;"
		/>
		<br /><br />
		<a href="http://localhost/consumer/register" rel="facebox">register: link and lightbox</a>
		<div id="register">
			<p><fb:registration onlogin="window.location.reload();" fb_only="true" fields="[
				{'name':'name'},
				{'name':'email'},
				{'name':'location'},
				{'name':'gender'},
				{'name':'birthday'},
				{'name':'password',   'view':'not_prefilled'},
				{'name':'family',    'description':'My Family Name',  	'type':'text'},
				{'name':'message',    'description':'Message To My Parents',  	'type':'text'},
				{'name':'consumer_phone',      'description':'My Mobile Phone',             'type':'text'},
				{'name':'payer_phone',      'description':'My Parent Mobile Phone',             'type':'text'},
				{'name':'payer_email',      'description':'My Parent Email Address',             'type':'text'}
				]" redirect-uri="http://localhost/consumer/register_callback/"></fb:registration></p>
		</div>
	</div>


	<div id="welcome_msg" class="box text">
		<% if @consumer_status == "registered" %>
			<p class="text"><%= "Hello, #{@consumer_name}!" %>!</p>
		<% else %>
			<p class="text">
				<span><%= "Want to buy with a single click? Please register!" %></span>
				<span>			</span>
			</p>

		<% end %>
	</div>
	
	
	<div id="buy" class="box">
		<% form_for(:product, :url => {:action => "select_product"}, :html => {:id => "select_product_form"}) do |f| %>
			<%= f.select :id, options_for_select(@products, params[:id]) %>
			<%= submit_tag "Single-click to Buy" %>
		<% end %>
	</div>
	
	<div id="tell" class="box">
		<p class="text">Like arca? Tell your friends</p>
	</div>		

	<div id="comments" class="box">
		<fb:comments numposts="10" width="565" publish_feed="true"></fb:comments>
	</div>
</div>

<script type="text/javascript">

	function register(){
			$.ajax({
					url: "register" ,
					success: function(data){
					}
			})				
	};

</script>
