<%= image_tag "/images/farmville1.png", :id => "farmville1" %>
<%= image_tag "/images/farmville21.png", :id => "farmville2" %>
<a href="/consumer/buy_window" id="servicewindow" rel="facebox">shalom</a>

