<%=fb_connect_async_js %>

<p><fb:registration  fb_only="true" fields="[
{'name':'name'},
{'name':'email'},
{'name':'location'},
{'name':'gender'},
{'name':'birthday'},
{'name':'password',   'view':'not_prefilled'},
{'name':'family',    'description':'My Family Name',  	'type':'text'},
{'name':'message',    'description':'Message To My Parents',  	'type':'text'},
{'name':'consumer_phone',      'description':'My Mobile Phone',             'type':'text'},
{'name':'payer_phone',      'description':'My Parent Mobile Phone',             'type':'text'},
{'name':'payer_email',      'description':'My Parent Email Address',             'type':'text'}
]" redirect-uri="http://www.go-arca.com/consumer/register_callback/"></fb:registration></p>