<%= render 'primary_navigation'  %>
<%= render 'consumer_navigation' %>

<section id="maincontainer">

	<%= render :partial => 'page_head', :locals => {:title => 'Allowance Details', :backPath => :back} %>
	
	see powerpoint

</section>
