<p><fb:registration fields="[
{'name':'name'},
{'name':'email'},
{'name':'location'},
{'name':'gender'},
{'name':'birthday'},
{'name':'password',   'view':'not_prefilled'},
{'name':'like',       'description':'Do you like this plugin?', 'type':'checkbox',  'default':'checked'},
{'name':'phone',      'description':'Phone Number',             'type':'text'},
{'name':'anniversary','description':'Anniversary',              'type':'date'},
{'name':'captain',    'description':'Best Captain',             'type':'select',    'options':{'P':'Jean-Luc Picard','K':'James T. Kirk'}},
{'name':'force',      'description':'Which side?',              'type':'select',    'options':{'jedi':'Jedi','sith':'Sith'}, 'default':'sith'},
{'name':'live',       'description':'Best Place to Live',       'type':'typeahead', 'categories':['city','country','state_province']},
{'name':'captcha'}
]" redirect-uri="http://localhost/consumer/buy/"></fb:registration></p>