$('#phone_notice').remove();
$('#pin_notice').remove(); 
$('#cheerful_message').remove(); 
$('#pin_form').after('<div id ="pin_notice" class="field_notice small_note red" ><%= escape_javascript(flash.delete(:notice)) %></div>');

var phone = "<%= @phone %>" ;

if (phone != "") {
	$('.righthandside_marketial').remove();
	$('#notice').remove();
	$(function() {
		$('#consumers_tabs').tabs("option","disabled", false);
		$("#consumers_tabs").tabs("select", 1);
	}); 
	viewConsumers (<%= @consumer.id %>);
}		

<% if flash[:message] %>
	$('#tabs').before('<div class="ui-widget message" id="cheerful_message"><div id="notice" class="ui-state-highlight ui-corner-all"><p><span class="flash_symbol ui-icon ui-icon-info"></span><span class="flash_text"><%= escape_javascript(flash.delete(:message)) %></span></p></div></div>');
<% end %>