$('#cheerful_message').remove();
	<% i = 1 %>
	<% for consumer in @consumers %>
		<% rem = i % 2 %>
		<% if rem == 1 %>
			$('#column21').append('<div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all"><div onclick = "consumer_selected(<%= consumer.id %>)" class="portlet-header ui-widget-header ui-corner-all"><%= escape_javascript(number_to_phone(consumer.billing_phone, :area_code => true)) %></div><div class="portlet-content" >Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div></div>');
		<% else %>
			$('#column22').append('<div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all"><div onclick = "consumer_selected(<%= consumer.id %>)" class="portlet-header ui-widget-header ui-corner-all"><%= escape_javascript(number_to_phone(consumer.billing_phone, :area_code => true)) %></div><div class="portlet-content" >Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div></div>');
		<% end %>
		<% i += 1 %>
	<% end %>
	

	
	function consumer_selected (consumer) {
		xmlhttp=new XMLHttpRequest();
		xmlhttp.open("GET","/service/allowance/"+consumer,true);
		xmlhttp.send();
		xmlhttp.onreadystatechange=function()
		  {
		  if (xmlhttp.readyState==4 && xmlhttp.status==200)
		    {
		    document.getElementById("allowance").innerHTML=xmlhttp.responseText;
					  	drawChart();

			modifyBudget();
			modifyBalance();
			$(function() {
				$("#radio").buttonset();
			});

		    }
		  } 

	}

	
