<div id="remainder">
	<span id="learn1"><a href="/service/joinin">shalom shalom shalom shalom shalom</a></span>
	<span id="learn2"><a href="/service/joinin">shalom shalom shalom shalom shalom</a></span>
	<span id="learn3"><a href="/service/joinin">shalom shalom shalom shalom shalom</a></span>
</div>