
	<div id="mainpage">
		<div id="side">
			<div id="teens">
				<div class="side title">For teens and kids</div>
				<div class="promise">
					<div class="box title">Instant Cash - No Advance Payment</div>
					<div class="text">Tired of going to the store...</div>
					<div class="learn">Learn how we get you instant cash in one click!</div>
				</div>
				<div class="promise">
					<div class="box title">Instant Parental Authorization</div>
					<div class="text">Never stop the game again...</div>
					<div class="learn">Learn how we get instant parental authorization!</div>
				</div>
			</div>
			<div id="parents">
				<div class="side title">For parents</div>
				<div class="promise">
					<div class="box title">Instant Cash - No Advance Payment</div>
					<div class="text">Tired of going to the store...</div>
					<div class="learn">Learn how we get you instant cash in one click!</div>
				</div>
			</div>
		</div>
		</div>

