$('#purchase_records').empty();
$('#purchases_message').remove();
$('#purchases .left_content').empty();

<% if @purchases.empty? %>

	$('.purchases_list').append(	
		'<div id="purchases_message">No purchases were found for that selection criteria</div>');
		

<% else %>



	
<% end %>
