<div class="row hm_container">

	<%= image_tag "/home/img/ys_kid_tp2.png", :id => "yellowshirt_kid" %>

	<div  id="sign_in_hero" class="span9">
		<%= render "payers/shared/hero" %>
	</div>

	<div id="form_box" class="span3 well ">
		<h1>Sign Up</h1>
		<%= render "form" %>
		<div class="form_bottom">
			<%= render "payers/shared/links" %>
		</div>
	</div>
</div>