<p>
  <b>Payer:</b>
  <%=h @subscriber.payer_id %>
</p>

<p>
  <b>Billing phone:</b>
  <%=h @subscriber.billing_phone %>
</p>


<%= link_to 'Edit', edit_subscriber_path(@subscriber) %> |
<%= link_to 'Back', subscribers_path %>