<div id="login_container">
  <div id="login_form">
    <form method="post" action="login">
      <p>
        <input type="text" id="username" name="username" placeholder="Username" class="{validate: {required: true}}" />
      </p>
      <p>
        <input type="password" id="password" name="password" placeholder="Password" class="{validate: {required: true}}" />
      </p>
      <button type="submit" class="button blue">Login</button>
    </form>
  </div>
	<div id="login_error">
		<%= flash[:notice] %>
	</div>
</div>
