<%= render 'primary_navigation' %>
<%= render 'consumer_navigation' %>

<section id="maincontainer">

		<%= render :partial => 'page_head', :locals => {:title => "Rules for #{@name}"} %>
		
		<div id="rules" class="settings  accordion">			
				<% @rules.each do |rule| %>


				<% end %>
		</div>

</section>

<%= render 'notifications' %>