<div id="confirmation_modal" class="box confirmation_modal">
    <div class="box-header modal-header">
        <span class="icon32 user fl"></span>
        <h1>User Confirmation</h1>
    </div>
  
    <div class="box-content">
        <div class="rule header">
			<%= "I want to control what #{@consumer.name} buys" %>
        </div>
         <div class="rule actions">
            <p><%= "I would like to have Paykido report to me everything that #{@consumer.name} buys and ask for my approval. I confirm that I am #{@consumer.name}'s parent." %></p>
        </div>
        <div class="action_bar">            
            <%= link_to "I confirm", confirmed_consumer_path(@consumer), :class => "blue button" %>
            <%= link_to "I don't", "#", :class => "sp_close button" %>
        </div>
    </div>
    
</div>

<script type="text/javascript">

$(document).ready(function () {

	// find a better way to ajaxify calls from modal window
    $('.action_bar').click(function() {     
    $('#modalcontainer > div').hide();
    $('#overlay').hide();

}) 

})
</script>
