<!-- Primary navigation -->
<nav id="primary">
	<ul>
	    <li class="menu" id="people_menu" >
	      	<%= link_to payer_registrations_path(@payer) do%>
	        	<span class="icon32 user"></span>
	        	People
	      	<% end %>
	    </li>

    	<li class="menu" id="dashboard_menu" >
      		<%= link_to payer_purchases_path(@payer) do %>
		        <span class="icon32 dashboard"></span>
		        Dashboard
	      	<% end %>
	    </li>
	    <li class="menu" id="setting_menu" >
	      	<%= link_to payer_registrations_path(@payer) do%>
	        	<span class="icon32 cog"></span>
	        	Settings
	      	<% end %>
	    </li>
	    <li>
	      	<a href="#">
	        	<span class="icon32 pencil"></span>
	        	Rules
	      	</a>
	    </li>
	    <li>
	      	<a href="#">
	        	<span class="icon32 chart"></span>
	        	Charts
	      	</a>
	    </li>
	    <li class="bottom">
	      	<a href="/account/logout">
	        	<span class="icon32 quit"></span>
	        	Log out
	      	</a>
	    </li>
	</ul>
</nav>

