<div class="modal hide" id="rule">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<i class="bigicon-wrench"></i>
		<h3>New Rule</h3>
	</div>
	<div class="modal-body">
        <div class="rule header">
            <span class="action"></span>
            <span class="property"></span>
            <span class="value"></span>
			(<span class="name"></span>)
        </div>
        <div class="rule" id="rule_set">
            <p>Paykido will automatically <strong><span class="action"></span></strong> purchases attempted by <span class="name"></span> whose <span class="property"></span> is <span class="value"></span>.</p>
            <p>Click <strong>Activate</strong> to activate rule.</p>
        </div>
        <div class="rule" id="rule_reset" style="display: none">
            <p>Click <strong>Reset</strong> to reset rule.</p>
        </div>
	</div>
	<div class="modal-footer">
		<%= link_to "Close", "#", 'data-dismiss' => "modal", class: "btn" %>
		<%= link_to "Activate", "#", method: :post, 'data-skip-pjax' => "true", 'data-dismiss' => "modal", class: 'btn btn-primary', id: "create_rule" %>
	</div>
</div>