<div class="modal hide" id="rule">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<i class="bigicon-wrench"></i>
		<h3>New Rule</h3>
	</div>
	<div class="modal-body">
        <div class="rule header">
            Always
            <span class="action"></span>
            <span class="property"></span>
            <span class="value"></span>
			(<span class="name"></span>)
        </div>
        <div class="rule actions">
            <p>Paykido will automatically <span class="action"></span> purchases attempted by <span class="name"></span> whose <span class="property"></span> is <span class="value"></span>.</p>
            <p>Click <strong>Activate</strong> to activate rule.</p>
        </div>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">Close</a>
		<a href="#" class="btn btn-primary" data-dismiss="modal" id="create_rule">Activate</a>
	</div>
</div>
<script type="text/javascript">
$(document).ready(function () {

	$('#create_rule').click(function() { 
//		$.post($(this).attr('data-href'));
		$.pjax({
		  url: $(this).attr('data-href'),
		  type: 'POST',
		  container: '#paykido'
		})
	})

})

</script>
