<!-- Secondary navigation -->
<nav id="secondary">

	<ul>
		<li class=active >
			<%= link_to payer_registrations_path(@payer) do %>
		       	<table class="navigation">
		        	<tbody>
		        		<tr id="noWhite">
		        			<td class="navigation_icon">
								<span class="icon32 file fr"><span>
							</td>
							<td>
             					<span class="secondary_name">Registration</span>
         					</td>
     					</tr>
 					</tbody>
				</table>
        	<% end %>
        </li>    	
		<li >
            <%= link_to payer_registrations_path(@payer) do %>
		       	<table class="navigation">
		        	<tbody>
		        		<tr id="noWhite">
		        			<td class="navigation_icon">
		        				<span class="icon32 lock fr"><span>
        					</td>
	        				<td>	
        						<span class="secondary_name">Security</span>
    						</td>
     					</tr>
 					</tbody>
				</table>				
        	<% end %>
        </li>    	
		<li>
            <%= link_to payer_registrations_path(@payer) do %>
		       	<table class="navigation">
		        	<tbody>
		        		<tr id="noWhite">
		        			<td class="navigation_icon">
		        				<span class="icon32 flag fr"><span>
        					</td>
	        				<td>	
            					<span class="secondary_name">Notifications</span>
   							</td>
     					</tr>
 					</tbody>
				</table>								
        	<% end %>
        </li>    	
		<li>
            <%= link_to payer_registrations_path(@payer) do %>
 		       	<table class="navigation">
		        	<tbody>
		        		<tr id="noWhite">
		        			<td class="navigation_icon">
		        				<span class="icon32 twitter fr"><span>
        					</td>
	        				<td>	
            					<span class="secondary_name">Communication</span>
   							</td>
     					</tr>
 					</tbody>
				</table>								
        	<% end %>
        </li>    	
	</ul>
  
	<div id="notifications">
	    <ul>
	    </ul>
	</div>

</nav>
