<!-- Secondary navigation -->
<nav id="secondary">

	<ul>
		<li class=active >
			<%= link_to payer_registrations_path(@payer) do %>
		       	<table class="navigation">
		        	<tbody>
		        		<tr id="noWhite">
		        			<td class="navigation_icon">
								<i class="bigicon-shield"></i>
							</td>
							<td>
             					<span class="secondary_name">Registration</span>
         					</td>
     					</tr>
 					</tbody>
				</table>
        	<% end %>
        </li>    	
		<li >
            <%= link_to payer_registrations_path(@payer) do %>
		       	<table class="navigation">
		        	<tbody>
		        		<tr id="noWhite">
		        			<td class="navigation_icon">
		        				<i class="bigicon-lock"></i>
        					</td>
	        				<td>	
        						<span class="secondary_name">Security</span>
    						</td>
     					</tr>
 					</tbody>
				</table>				
        	<% end %>
        </li>    	
		<li>
            <%= link_to payer_registrations_path(@payer) do %>
		       	<table class="navigation">
		        	<tbody>
		        		<tr id="noWhite">
		        			<td class="navigation_icon">
		        				<i class="bigicon-notification"></i>
        					</td>
	        				<td>	
            					<span class="secondary_name">Notifications</span>
   							</td>
     					</tr>
 					</tbody>
				</table>								
        	<% end %>
        </li>    	
		<li>
            <%= link_to payer_registrations_path(@payer) do %>
 		       	<table class="navigation">
		        	<tbody>
		        		<tr id="noWhite">
		        			<td class="navigation_icon">
		        				<i class="bigicon-twitter"></i>
        					</td>
	        				<td>	
            					<span class="secondary_name">Communication</span>
   							</td>
     					</tr>
 					</tbody>
				</table>								
        	<% end %>
        </li>    	
	</ul>
  
	<div id="notifications">
	    <ul>
	    </ul>
	</div>

</nav>
<script>
	
$(document).ready(function () {
	$('.menu').removeClass('active');
	<% if params[:controller] == 'registrations' %>
		$('#setting_menu').addClass('active');
	<% end %>	
})	
	
</script>
