<div class="current">	
	<div id="home">
		<a href="#about">About US</a>
	</div>
	<div id="about">
		<ul class="edgetoedge">
			<li class="sep">F</li>
			<li>
				<a href="#">Flinston</a>
			</li>
		</ul>
	</div>
</div>