<!DOCTYPE html>
<html>
<head>
  <title>Admin</title>
    <script type="text/javascript" src="highslide/highslide-full.js"></script>
    <script type="text/javascript" src="highslide/highslide.config.js" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="highslide/highslide.css" />
    <!--[if lt IE 7]>
    <link rel="stylesheet" type="text/css" href="highslide/highslide-ie6.css" />
    <![endif]-->

</head>
<body>

<%= yield %>

</body>
</html>
