<html>
	<head>
	  <title>Paykido</title>
		<%= stylesheet_link_tag "play.css", "paykido-api.css" %>
		<%= javascript_include_tag  "jquery-1.4.2.min","paykido-api" %>
		<script type="text/javascript">
		    $(document).ready(function($){
				$('a[rel*=paykido]').paykido();
		       });
		</script> 	            
	</head>	
	<body id="farmville">
		
	      <%= yield :layout %>
	
	</body>
</html>


